@import 'css/settings';

.topic {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: $black;

    .left-menu {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 6 * $space;
        z-index: 2; // because of particles

        > a {
            font-family: 'Barlow Condensed';
            color: $grey-darker;
            margin-bottom: 8 * $space;
            text-decoration: none;

            &.selected-link {
                color: $white;
            }
        }

        .climate-link {
            border-bottom: solid 2px $climate;
        }
        .forests-link {
            border-bottom: solid 2px $forests;
        }
        .freshwater-link {
            border-bottom: solid 2px $freshwater;
        }
        .oceans-link {
            border-bottom: solid 2px $oceans;
        }
    }

    .right-link {
        position: fixed;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        z-index: 2; // because of particles

        a {
            font-family: 'Barlow Condensed';
            text-decoration: none;
            color: $white;
            margin-bottom: 3 * $space;
            line-height: 16px;
        }
    }

    .indicators-row {
        justify-content: center;

        .indicators-container {
            margin-top: 116px;
            padding-bottom: 135px;
            border-top: solid 2px $grey-light;
            width: 100%;
            height: 100%;
            font-family: 'Barlow Condensed';
    
            .indicators-header {
                .header-title {
                    color: $grey-light;
                    font-size: 14px;
                }
                .header-subtitle {
                    font-size: 11px;
                    color: $grey-darker;
                    font-family: 'Lato';
                    margin-left: $space;
    
                    a {
                        color: $grey-darker;
                        text-decoration: none;
                    }
                }
            }

            .indicator-block {
                width: 100%;
                margin-top: 4 * $space;
                padding-bottom: 6 * $space;
                border-bottom: solid 2px $grey-light;
                color: $white;

                .block-header {
                    color: $grey-light;
                }
            }
        }
    }

    .particles {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
}
