@import 'css/settings';

.topic {
    position: relative;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background-color: $black;

    .globe {
        position: fixed;
        height: 100vh;
        top: 0px;
        left: -55vh;
        opacity: 0;

        &.-loaded {
            animation: fade-in 1s forwards;

            @keyframes fade-in {
                from { opacity: 0;}
                to { opacity: 1;}
            }
        }
    }

    .left-menu {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 6 * $space;
        z-index: 2; // because of particles

        > a {
            font-family: 'Barlow Condensed';
            color: $grey-darker;
            margin-bottom: 8 * $space;
            text-decoration: none;
            line-height: 1.2;
            
            &:hover {
                color: $white;
            }

            &.selected-link {
                color: $white;
            }
        }

        .climate-link {
            border-bottom: solid 2px $climate;
        }
        .forests-link {
            border-bottom: solid 2px $forests;
        }
        .freshwater-link {
            border-bottom: solid 2px $freshwater;
        }
        .ocean-link {
            border-bottom: solid 2px $ocean;
        }
    }

    .right-link {
        position: fixed;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        cursor: pointer;
        z-index: 2; // because of particles

        &.-forests {
            background-color: $forests;
            &:hover {
                background-color: $forests-dark;
            }
        }
        &.-ocean {
            background-color: $ocean;
            &:hover {
                background-color: $ocean-dark;
            }
        }
        &.-climate {
            background-color: $climate;
            &:hover {
                background-color: $climate-dark;
            }
        }
        &.-freshwater {
            background-color: $freshwater;
            &:hover {
                background-color: $freshwater-dark;
            }
        }

        .arrow-container {
            position: relative;
            width: 100%;

            .arrow {
                position: absolute;
                left: 40%;
            }
        }

        a {
            text-align: center;
            font-family: 'Barlow Condensed';
            text-decoration: none;
            color: $white;
            margin-bottom: 3 * $space;
            line-height: 16px;
        }

        &.-mobile {
            top: unset;
            bottom: 0px;
            height: 60px;
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            padding: 16px;

            a {
                margin: 0px 3 * $space 0px 0px;
            }
        }

        &:hover {
            .arrow {
                animation: bounce 2s ease infinite, fade-in 2s infinite;

                @keyframes bounce {
                    0% { left: 25%; }
                    20% { left: 45%; }
                    40% { left: 35%; }
                    60% { left: 43%; }
                    80% { left: 39%; }
                    100% { left: 42%; }
                }
                @keyframes fade-in {
                    from { opacity: 0.2; }
                    to { opacity: 1; }
                }
            }
        }
    }

    .indicators-row {
        position: relative;
        display: flex;
        justify-content: center;
        z-index: 2;

        .indicators-container {
            margin-top: 116px;
            padding: 0px 0px 135px 0px;
            border-top: solid 2px $grey-light;
            width: 100%;
            height: 100%;
            font-family: 'Barlow Condensed';
    
            .indicators-header {
                .header-title {
                    color: $grey-light;
                    font-size: 14px;
                }
                .header-subtitle {
                    font-size: 11px;
                    color: $grey-darker;
                    font-family: 'Lato';
                    margin-left: $space;
    
                    a {
                        color: $grey-darker;
                        text-decoration: none;
                    }
                }
            }

            .indicator-block {
                position: relative;
                width: 100%;
                margin-top: 4 * $space;
                padding-bottom: 6 * $space;
                border-bottom: solid 1px $grey-light;
                color: $white;

                .block-header {
                    color: $grey-light;
                }

                &.-widget-indicator {
                    font-size: 20px;
                    font-family: 'Barlow Condensed';
                }

                .share-button {
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 18px;
                    height: 18px;
                    background-image: url('/static/images/share/share-black-background.svg');
        
                    &:hover {
                        background-image: url('/static/images/share/share-black-background-hover.svg');
                    }
                }
            }
        }
    }

    .particles {
        position: fixed;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
}
