*, *:after, *:before {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: $global-font-size;
}

body {
  background: $body-background;
  min-height: 100%;

  font-family: $body-font-family;
  font-weight: $global-weight-normal;
  line-height: $global-lineheight;
  color: $body-font-color;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.-dragging * {
    cursor: -webkit-grabbing;
  }
}

hr {
  margin: 50px 0;
  border-top: 1px solid #CBCCD0;
}

a {
  color: unset;
  text-decoration: none;
}

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  vertical-align: middle;

  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;

  &.-forests {
    background-color: $forests;

    &:hover {
      background-color: $forests-dark;
    }
  }

  &.-ocean {
    background-color: $ocean;

    &:hover {
      background-color: $ocean-dark;
    }
  }

  &.-climate {
    background-color: $climate;

    &:hover {
      background-color: $climate-dark;
    }
  }

  &.-freshwater {
    background-color: $freshwater;

    &:hover {
      background-color: $freshwater-dark;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  color: $header-font-color;
  font-family: 'Barlow Condensed';
}

h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;
  font-weight: 400;
}
h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: 400;
}
h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: 400;
}
h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  font-weight: 500;
}
h5 {
  font-size: $font-size-h5;
  line-height: $line-height-h5;
  font-weight: 400;
}
h6 {
  font-size: $font-size-h7;
  line-height: $line-height-h7;
  font-weight: 400;
}
h7 {
  font-size: $font-size-h6;
  line-height: $line-height-h6;
  font-weight: 400;
}

p {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

input, button, select, textarea {
  font-family: $body-font-family;
  font-size: $font-size-normal;
}

.-big {
  font-size: $font-size-big;
  line-height: 1.33;
}

.-text-center {
  text-align: center;
}

.-dragger {
  cursor: move;
}

.-desktopOnly {
  @media screen and (max-width: map-get($breakpoints, medium)) {
    display: none!important;
  }
}


// --------------------- EXTERNAL LINKS -----------------------
.external-link {
  transition: box-shadow 0.2s ease;

  &.-forests {
    box-shadow: inset 0 -0.125em $forests;
    &:hover{
      box-shadow: inset 0 -0.25em $forests;
    }
  }

  &.-ocean {
    box-shadow: inset 0 -0.125em $ocean;
    &:hover{
      box-shadow: inset 0 -0.25em $ocean;
    }
  }

  &.-climate {
    box-shadow: inset 0 -0.125em $climate;
    &:hover{
      box-shadow: inset 0 -0.25em $climate;
    }
  }

  &.-freshwater {
    box-shadow: inset 0 -0.125em $freshwater;
    &:hover{
      box-shadow: inset 0 -0.25em $freshwater;
    }
  }

  &.-biodiversity {
    box-shadow: inset 0 -0.125em $grey-darker;
    &:hover{
      box-shadow: inset 0 -0.25em $grey-darker;
    }
  }

  &.-white {
    box-shadow: inset 0 -0.125em $white;
    &:hover{
      box-shadow: inset 0 -0.25em $white;
    }
  }
}

// --------------------ADMIN PAGE HEADER -------------------------
.c-admin-page-header {
  background-color: $freshwater-dark;

  h1 {
    color: $white;
  }
}

// ------------------ TOPIC COLORS CLASSES ----------------------
.forests {
  color: $forests;
}

.ocean {
  color: $ocean;
}

.climate {
  color: $climate;
}

.freshwater {
  color: $freshwater;
}

// ----------------- HOMEPAGE TOOLTIP ARROW COLOR ---------------
.__react_component_tooltip.place-left::after {
  border-left: 8px solid #1a2128 !important;
}

.__react_component_tooltip.place-right::after {
  border-right: 8px solid #1a2128 !important;
}

.__react_component_tooltip.place-top::after {
  border-top: 8px solid #1a2128 !important;
}

.__react_component_tooltip.place-bottom::after {
  border-bottom: 8px solid #1a2128 !important;
}

.bold {
  font-weight: 500;
}
