@mixin arrow($size, $border-width, $color, $direction) {
  display: inline-block;
  width: $size;
  height: $size;
  border: $border-width solid $color;
  content: "";

  @if ($direction == "up") {
    transform: rotate(45deg);
    border-right: 0;
    border-bottom: 0;
  }

  @if ($direction == "right") {
    transform: rotate(45deg);
    border-bottom: 0;
    border-left: 0;
  }

  @if ($direction == "down") {
    transform: rotate(45deg);
    border-top: 0;
    border-left: 0;
  }

  @if ($direction == "left") {
    transform: rotate(45deg);
    border-top: 0;
    border-right: 0;
  }
}

@mixin visually-hidden() {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
