/*
* Project settings
* ================
*
* This file doesn't include grid system configuration,
* in this case you should take a look '_foundation_settings' file.
*/

// Bourbon settings
@import 'foundation_settings';
$output-bourbon-deprecation-warnings: false;
@import "../node_modules/bourbon/app/assets/stylesheets/settings/px-to-em";
@import "../node_modules/bourbon/app/assets/stylesheets/functions/strip-units";
@import "../node_modules/bourbon/app/assets/stylesheets/functions/px-to-rem";

// grid
@import 'foundation_settings';

// --------- Colors ------------------

// ++++++++++ Topic colors +++++++++++++++
// climate
$climate: hsl(20, 100%, 48%);
$climate-lighter:hsl(41, 100%, 48%);
$climate-light: hsl(20, 100%, 68%);
$climate-dark: hsl(20, 100%, 23%);

// forests
$forests: hsl(160, 100%, 30%);
$forests-light:  hsl(160, 100%, 40%);
$forests-dark:  hsl(160, 100%, 15%);

// freshwater
$freshwater: hsl(212, 100%, 56%);
$freshwater-light: hsl(212, 100%, 76%);
$freshwater-dark: hsl(212, 100%, 26%);

// ocean
$ocean: hsl(189, 59%, 47%);
$ocean-light:  hsl(189, 59%, 67%);
$ocean-dark:  hsl(189, 59%, 22%);
// +++++++++++++++++++++++++++++++++++++++

// +++++++++++ Grey-scale colors +++++++++
$white: hsl(0, 0%, 100%);
$grey-lightest: hsl(210, 17, 98);
$grey-lighter:  hsl(210, 17, 96);
$grey-light:  hsl(210, 19, 91);
$grey: hsl(210, 19, 86);
$grey-dark: hsl(209, 17, 76);
$grey-darker: hsl(209, 17, 56);
$grey-darkest: hsl(209, 17, 26);
$black: hsl(212, 22, 13);
// ++++++++++++++++++++++++++++++++++++++++

$yellow: yellow;
$red: #e23035;
$dove-grey: #717171;
$porcelain: #F4F6F7;
$sea-blue: #2C75B0;
$blue-grey: #9AA2A9;
$color-12: #f0f1f2;
$pale-grey: #f4f5f6;
$mid-grey: #b9bfc4;

// Theme
$body-font-color: $grey-darkest;
$header-font-color: $black;
$link-font-color: $sea-blue;
$active-font-color: $yellow;
$ui-font-color: $dove-grey;
$alt-font-color: $white;
$ui-bg-color: $porcelain;
$body-bg-color: $white;

$border-color-1: rgba(26, 28, 34, 0.1);
$border-color-2: rgba(202, 204,208, 0.85); // For inputs
$alt-border-color: $white;

$color-secondary: $sea-blue;
$primary-color: $freshwater;
$secondary-color: $sea-blue;

// Typography
$font-size-tiny: 10px;
$font-size-extra-small: 12px;
$font-size-small: 13px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-big: 21px;
$body-font-size: 14px;

// h1
$font-size-h1: 48px;
$line-height-h1: 1;
// h2
$font-size-h2: 36px;
$line-height-h2: 1.25;
// h3
$font-size-h3: 24px;
$line-height-h3: 1.25;
// h4
$font-size-h4: 20px;
$line-height-h4: 1;
// h5
$font-size-h5: 18px;
$line-height-h5: 1.25;
// h6
$font-size-h6: 16px;
$line-height-h6: 1;

// Typography – weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$body-background: $body-bg-color;
$body-font-size: $body-font-color;
$body-font-color: $body-font-color;
$body-font-family: 'Barlow', sans-serif;
$global-weight-normal: normal;
$global-lineheight: 1.625;
$global-font-size: $font-size-medium;

// Layout
$margin-size-extra-small: 15px;
$margin-size-small: 30px;
$margin-size: 50px;
$margin-size-big: 100px;
$space: 5px;


// Header
$header-main-height: 75px;
$header-main-height-mobile: 50px;
$header-secondary-height: 0;
$header-bg-color: $freshwater;

// Shadows
$thick-shadow: 0 20px 30px 0 rgba(0,0,0,0.1);

// Map specific settings
$map-labels-index: 11;
$map-box-shadow: 0 0 0 1px rgba($black, 0.1), 0 1px 2px rgba($black, 0.1);

// Transitions – timings
$animation-time: .16s;
$animation-time-2: .24s;
$animation-time-3: .5s;
$animation-time-4: .75s;

// Transitions – functions
$ease-in-cubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$ease-out-cubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

$ease-in-sine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ease-in-out-sine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

