@import 'css/settings';

.text-box-container {
    position: relative;
    margin: 0px 0px 100vh 124px;
    max-width: 400px;
    display: flex;

    &.-mobile {
        justify-content: center;
        margin: 0px 16px 100vh 16px;
    }

    .photo-subtitle {
        color: $grey-darker;
        font-size: 14px;
    }

    h6 {
        margin: 0px 0px $space 0px;
        font-size: 16px;
        font-family: 'Barlow Condensed';

        &:not(.subheader) {
            text-transform: uppercase;
        }
    }

    .subheader {
        color: $climate;
        font-size: 16px;
        font-family: 'Barlow Condensed';
    }

    .text-card-source {
        font-size: 12px;
        color: $grey-darker;
    }
}