@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize.scss";

.c-home-menu-toggle {
  background: #1b2127;
  border-radius: 28px;
  display: flex;
  align-items: center;
  color: white;
  padding: 10px 12px;
  max-width: 400px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $colour-flame;

    &:before {
      background-color: $colour-galaxy;
    }
  }

  &__text-container {
    flex-grow: 1;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    span {
      display: block;
      text-align: left;
      @include font-size(14px, 21px);

      &:first-of-type {
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Barlow Condensed";
        @include font-size(20px, 30px);
      }
    }
  }

  &:before {
    content: "";
    display: block;
    background-color: $colour-flame;
    background-image: url("/static/icons/home-menu/layers-icon.svg");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    height: 48px;
    width: 48px;
    margin-right: 12px;
    border-radius: 50%;
    transition: background-color 0.3s ease-in-out;
  }

  &:after {
    content: "";
    display: block;
    background-image: url("/static/icons/toggle-arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10px;
    width: 18px;
    margin-left: 24px;
    margin-right: 12px;
    transition: transform 0.3s ease-in;
  }

  &--open {
    &:before {
      background-image: url("/static/icons/close.svg");
      background-color: $colour-galaxy;
      background-size: 28px 28px;
      background-position: center;
    }

    &:after {
      transform: rotate(-180deg);
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    width: 100%;
    max-width: unset;
    padding: 6.5px 10px;

    &:before {
      height: 36px;
      width: 36px;
      margin-right: 6px;
    }

    &__text-container {
      span {
        @include font-size(12px, 18px);

        &:first-of-type {
          @include font-size(16px, 19px);
        }
      }
    }

    &:after {
      height: 8px;
      width: 14.4px;
      margin-right: 6px;
      transition: transform 0.3s ease-in;
    }
  }
}
