@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize.scss";

.c-home-menu-action {
  @media screen and (min-width: $global-breakpoint-md) {
    width: 448px !important;
    left: 0;
  }
}

.c-home-menu-toggle {
  background: #1b2127;
  border-radius: 28px;
  display: flex;
  align-items: center;
  color: white;
  padding: 8px 10px;
  max-width: 400px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: $colour-flame;

    &:before {
      background-color: $colour-galaxy;
    }
  }

  & .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: $colour-flame;
    transition: background-color 0.3s ease-in-out;
    margin-right: 12px;
  }

  &:hover .icon {
    background-color: $colour-galaxy;
  }

  &__text-container {
    flex-grow: 1;
    font-family: Barlow;
    font-style: normal;
    font-weight: 500;
    span {
      display: block;
      text-align: left;
      @include font-size(14px, 21px);

      &:first-of-type {
        text-transform: uppercase;
        font-weight: 500;
        font-family: "Barlow Condensed";
        @include font-size(20px, 30px);
      }
    }
  }

  &:after {
    content: "";
    display: block;
    background-image: url("/static/icons/toggle-arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 10px;
    width: 18px;
    margin-left: 24px;
    margin-right: 12px;
    transition: transform 0.3s ease-in;
  }

  &--open {
    &:after {
      transform: rotate(-180deg);
    }

    .icon svg {
      padding: 4px;
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    width: 100%;
    max-width: unset;
    padding: 4.5px 8px;

    &:before {
      height: 36px;
      width: 36px;
      margin-right: 6px;
    }

    &__text-container {
      span {
        @include font-size(12px, 18px);

        &:first-of-type {
          @include font-size(16px, 19px);
        }
      }
    }

    &:after {
      height: 8px;
      width: 14.4px;
      margin-right: 6px;
      transition: transform 0.3s ease-in;
    }
  }
}
