@import 'css/settings';

.c-share-modal {

    .main-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        &.-desktop {
            min-width: 700px;
            padding: 40px;
        }   
        
        &.-mobile {
            min-width: 80vw;
            max-width: 80vw;
        } 
        
        h5 {
            margin-bottom: 10px;
        }
    
        .close-button {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 21px;
            height: 21px;
    
            background-image: url('/static/images/close-no-background.svg');
    
            &:hover {
                background-image: url('/static/images/close-no-background-hover.svg');
            }
        }
    }
}
