@import 'css/settings';

.cesium {
    position: relative;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-container {
        height: 100vh;
        width: 100vw;
    }
}
