@import 'css/settings';

.cesium {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: $black;
    display: flex;
    justify-content: center;
    align-items: center;
}
