@import 'css/settings';

.c-widget-form-preview-step {

    .template-select-container {
        display: flex;
        flex-direction: column;;

        select {
            width: 120px;
        }
    }

    .json-editor-container {
        display: flex;
        flex-direction: row;
        margin-top: 5 * $space;
        height: 500px;
        width: 100%;

        .json-editor {
            width: 50%;
            height: 100%;
            font-family: "Fira code", "Fira Mono", monospace;
            overflow: auto;
            resize: none;
        }

        .widget-preview-container {
            width: 50%;
            height: 100%;
            padding: 2 * $space;
            border: 1px solid;
        } 
    }

    .preview-actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-top: 4 * $space;
    }

    .buttons-container {
        margin-top: 4 * $space;
    }
    
}