@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-hero-banner {
  padding-bottom: 16px;

  &__title,
  &__body {
    color: $white;
  }

  &__title {
    @include font-size(20px, 30px);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
  }

  &__body {
    @include font-size(16px, 24px);
    font-weight: 500;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    padding-top: 9px;
    padding-bottom: 40px;

    &__title {
      @include font-size(24px, 36px);
      margin-bottom: 13px;
      font-weight: 500;
    }
  }
}

.c-page-section-grid-hero-banner {
  max-width: 600px;
  margin: 0 auto;
}
