@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";

.c-tooltip {
  position: absolute;
  z-index: $z-index-tooltip;
  background-color: $colour-galaxy;
  padding: 13px 16px;
  color: white;
  border-radius: 12px;

  p {
    font-family: "Barlow";
    font-weight: 500;
    @include font-size(14px, 21px);
  }

  &--right {
    transform: translateY(calc(-50% - 9px)) translateX(calc(-100% - 36px));
    &:after {
      right: -8px;
    }
  }

  &--left {
    transform: translateY(calc(-50% - 9px)) translateX(16px);
    &:after {
      left: -8px;
    }
  }

  &:after {
    background-color: $colour-galaxy;
    width: 17px;
    height: 17px;
    position: absolute;
    content: "";
    display: block;
    transform: translateY(-8.5px) rotate(45deg);
    top: 50%;
  }
}
