@import "css/settings";
@import "css/settings/spacings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.c-tooltip {
  position: absolute;
  z-index: $z-index-tooltip;
  background-color: $colour-galaxy;
  padding: 13px 16px;
  color: white;
  border-radius: 12px;

  p {
    @include font-size(14px, 21px);

    font-family: "Barlow";
    font-weight: 500;
  }

  &:after {
    background-color: $colour-galaxy;
    width: 17px;
    height: 17px;
    position: absolute;
    content: "";
    display: block;
    transform: translateY(-8.5px) rotate(45deg);
    top: 50%;
  }

  &--right {
    transform: translateY(calc(-50% - 9px)) translateX(calc(-100% - 36px));
    &:after {
      right: -8px;
    }
  }

  &--globe-tooltip {
    margin-left: $global-spacing-unit-l-mobile;
    transform: translateY(calc(-50% - 9px));
    &:after {
      right: -8px;

      @media screen and (max-width: $global-breakpoint-md) {
        right: -6px;
      }
    }
  }

  &--left {
    transform: translateY(calc(-50% - 9px)) translateX(16px);
    &:after {
      left: -8px;
    }
  }

  &--bottom {
    &:after {
      top: unset;
      bottom: -8px;
      right: 50%;
      transform: translateX(50%) rotate(45deg);
    }
  }

  &--none {
    &:after {
      display: none;
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    padding: 8.5px 12px;
    display: flex;
    flex-direction: column;

    p {
      @include font-size(12px, 18px);
    }
  }
}
