// Must match breakpoints set in utils/responsive.js
$global-breakpoint-xs: 403px;
$global-breakpoint-sm: 576px;
$global-breakpoint-md: 768px;
$global-breakpoint-lg: 1024px;
$global-breakpoint-xl: 1192px;
$global-breakpoint-xxl: 1440px;
