// Must match breakpoints set in utils/responsive.js
$global-breakpoint-sm: 0px;
$global-breakpoint-md: 768px;
$global-breakpoint-lg: 102px;
$global-breakpoint-xl: 1192px;
$global-breakpoint-xxl: 1440px;
