$global-spacing-unit-xxs: 8px;
$global-spacing-unit-xs: 12px;
$global-spacing-unit-s: 16px;
$global-spacing-unit: 20px;
$global-spacing-unit-l: 24px;
$global-spacing-unit-xl: 40px;

$global-spacing-unit-xxs-mobile: 6px;
$global-spacing-unit-xs-mobile: 8px;
$global-spacing-unit-s-mobile: 10px;
$global-spacing-unit-mobile: 12px;
$global-spacing-unit-l-mobile: 16px;
$global-spacing-unit-xl-mobile: 24px;
