@import "css/settings";

.c-icon-button {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: $white;
  color: $colour-galaxy;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: $colour-flame;
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: gray;

    &:hover {
      color: $colour-galaxy;
    }
  }
}
