@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-news-search {
  width: 100%;

  @media screen and (min-width: $global-breakpoint-md) {
    width: auto;
  }

  &.dark {
    .filters {
      button {
        background-color: $colour-midnight;
      }
    }
  }

  &:not(.dark) {
    .input {
      background-color: $colour-night;
    }
  }

  .input {
    margin-bottom: 16px;
  }

  .filters {
    display: flex;
    align-items: center;

    button {
      @include font-size(16px, 24px);

      background-color: $colour-night;
      color: $white;
      padding: 6px 12px;
      font-weight: 500;
      border-radius: 10px;
      text-transform: capitalize;

      &.active {
        background-color: $white;
        color: $colour-night;
      }

      &:not(:last-child) {
        margin-right: 8px;

        @media screen and (min-width: $global-breakpoint-md) {
          margin-right: 12px;
        }
      }
    }
  }
}
