@import "css/settings";

.c-widgets-carousel {
  &__wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-bottom: 16px;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    .widget {
      flex-shrink: 0;
      width: 90%;
      padding: 24px 16px;
      margin: 0 4px;
      background-color: $colour-night;
      border-radius: 12px;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      transition: background-color 0.5s;

      &.active {
        background-color: $colour-midnight;
      }

      &:first-child {
        margin-left: 24px;
      }

      &:last-child {
        margin-right: 24px;
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px;
    background-color: $colour-midnight;
  }
}
