@import "css/settings";
@import "css/settings/breakpoints";
@import "layout/app/news/section/section-settings";

.c-widgets-carousel {
  &__wrapper {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    margin-bottom: 16px;
    scrollbar-width: none;

    @media screen and (min-width: $global-breakpoint-md) {
      overflow-x: hidden;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .widget {
      flex-shrink: 0;
      width: 90%;
      padding: 24px 16px;
      margin: 0 4px;
      background-color: $colour-night;
      border-radius: 12px;
      scroll-snap-align: center;
      scroll-snap-stop: always;
      transition: background-color 0.5s;

      &.active {
        background-color: $colour-midnight;
      }

      &:first-child {
        margin-left: $o-page-section-padding-x;

        @media screen and (min-width: $global-breakpoint-md) {
          margin-left: $o-page-section-padding-x-desktop;
        }
      }

      &:last-child {
        @media screen and (min-width: $global-breakpoint-md) {
          margin-right: $o-page-section-padding-x-desktop;
        }
      }
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    background-color: $colour-midnight;
    padding: 20px $o-page-section-padding-x;

    @media screen and (min-width: $global-breakpoint-md) {
      padding: 20px $o-page-section-padding-x-desktop;
    }
  }
}
