@import "css/settings/zIndex";
@import "css/_settings";

.c-event-point {
  position: absolute;
  z-index: $z-index-tooltip;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  cursor: pointer;

  .c-outer-circle {
    background-color: white;
    width: 24px;
    height: 24px;
    padding: 4px;
    border-radius: 12px;
    opacity: 0;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }

    .c-inner-circle {
      background-color: $colour-flame;
      width: 16px;
      height: 16px;
      border-radius: 8px;
    }
  }
}
