@import 'css/settings';

.c-topic-data-footer {
    height: 125px;
    padding: 0px 110px 0px 110px;
    display: flex;
    align-items: center;
    background-color: $black;

    .main-container {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .topic-links {
            display: flex;

            >a {
                margin-left: 10 * $space;
                color: $white;
                border-bottom: solid 2px;
                text-decoration: none;
                font-family: 'Barlow Condensed';
                font-size: 16px;
            }

            .climate-link {
                border-color: $climate;
            }
            .forests-link {
                border-color: $forests;
            }
            .freshwater-link {
                border-color: $freshwater;
            }
            .oceans-link {
                border-color: $oceans;
            }
        }
    }
}
