@import 'css/settings';

.c-topic-data-footer {
    display: flex;
    align-items: center;
    background-color: $black;

    .main-container {
        height: 125px;
        width: 100%;
        display: flex;
        padding: 0px 110px 0px 110px;

        .logo-container {
            width: 100%;
            cursor: pointer;
        }

        &.-desktop {
            justify-content: space-between;
            align-items: center;
        }

        &.-mobile {
            height: 200px;
            padding: 0px 16px 0px 16px;
            flex-direction: column;

            .logo-container {
                margin-top: 43px;
            }

            .topic-links {
                margin-top: 35px;
                justify-content: space-between;
            }
        }

        .topic-links {
            display: flex;
            width: 100%;
            justify-content: center;

            .link-container {
                
                &:not(:first-child) {
                    margin-left: 10 * $space;
                }

                a {
                    color: $white;
                    border-bottom: solid 2px;
                    text-decoration: none;
                    font-family: 'Barlow Condensed';
                    font-size: 16px;   
                }

                .climate-link {
                    border-color: $climate;
                }
                .forests-link {
                    border-color: $forests;
                }
                .freshwater-link {
                    border-color: $freshwater;
                }
                .ocean-link {
                    border-color: $ocean;
                }
            }

            
        }
    }
}
