@import 'css/settings';

.c-challenge-to-our-global-commons-section {
    padding: 200px 100px 200px 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    h1 {
        color: $white;
        padding-bottom: 52px;

        span {
            font-style: italic;
        }
    }

    .paragraphs-container {
        .challenge-paragraph{
            max-width: 50%;
            padding-bottom: 40px;
            color: $grey;
    
            a {
                color: $white;
            }

            &.-mobile {
                max-width: 100%;
                padding: 0px 16px 30px 16px;
            }
        }
    }

    .photo-attribution-container{
        position: absolute;
        left: 4 * $space;
        bottom: 4 * $space;
        color: $grey-darker;
        font-family: 'Barlow Condensed';
        font-size: 12px;
    }
}
