@import 'css/settings';

.c-challenge-to-our-global-commons-section {
    position: relative;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .main-container {
        &.-desktop {
            padding: 200px 100px 200px 100px;
        }
        &.-mobile {
            padding: 134px 16px 174px 16px;
        }

        h1, h3 {
            color: $white;
            span {
                font-style: italic;
            }
        }
    
        h1 {
            padding-bottom: 52px;
        }
        h3 {
            margin-bottom: 30px;
        }
    
        .paragraphs-container {
            .challenge-paragraph{
                max-width: 50%;
                padding-bottom: 40px;
                color: $grey;
        
                a {
                    color: $white;
                }
    
                &.-mobile {
                    max-width: 100%;
                }
            }
        }
    
        .photo-attribution-container{
            position: absolute;
            left: 4 * $space;
            bottom: 4 * $space;
            color: $grey-darker;
            font-family: 'Barlow Condensed';
            font-size: 12px;
        }
    }
}
