@import 'css/settings';

.c-challenge-to-our-global-commons-section {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: initial;

    .main-container {
        height: 100vh;
        max-height: 100vh;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 20% 110px 20% 110px;
        
        h1 {
            font-family: 'Barlow Condensed';
            color: $white;
            font-style: normal;
            font-size: 48px;
    
            span {
                font-style: italic;
            }
        }

        .paragraphs {
            overflow: initial;
            max-width: 520px;
            color: $grey;
        }
    }

    .photo-attribution-container{
        position: absolute;
        left: 4 * $space;
        bottom: 4 * $space;
        color: $grey-darker;
        font-family: 'Barlow Condensed';
        font-size: 12px;
    }
}
