@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $bg-backdrop;
  z-index: $z-index-modal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $black;
  width: 38.75rem;
  // height: 80%;
  height: 43rem;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-radius: 10px 10px 0 0;
  background-color: $bg-backdrop-lighter;
  z-index: $z-index-header;
}

.modal-main-image {
  position: absolute;
  inset: unset;
  height: unset;
  width: unset;
  bottom: 0;
}

.image-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  object-fit: cover;
}

.contain {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.modal-title {
  color: $white;
  margin: 0;
  font-weight: 500;
}

.modal-logo {
  display: flex;
  align-items: center;
}

.earth-hq {
  margin-right: 10px;
}

.modal-top {
  position: relative;
  overflow: hidden;
  height: 57%;
}
.modal-main-content {
  padding: 4rem;
}
.text {
  color: $white;
  font-size: 25px;
  text-align: center;
  line-height: 2rem;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin: 0.5rem;
    height: 2.875rem;
    padding: 0.5rem 0.7rem;
    color: $white;
    border-radius: 30px;
    font-weight: bold;
  }
}

.continue-button {
  display: flex;
  align-items: center;
  width: 11rem;
  justify-content: space-between;
  background-color: $colour-flame;

  &:hover {
    background-color: $grey-darker;
  }
}

.button-text {
  font-size: 1.5rem;
  color: $white;
  text-align: left;
  margin-bottom: 0;
  margin-left: 15px;
}

.continue-icon {
  background-color: $white;
  border-radius: 50px;
  padding: 8px;
  color: $colour-galaxy;
}

.backButton {
  border: solid 1px $white;
  width: 5rem;
  padding: 0 13px;

  &:hover {
    color: $grey-darkest;
    background-color: $grey-lighter;
  }
}

.hide {
  visibility: hidden;
}

.close-button {
  color: $colour-galaxy;
  width: 32px;
  height: 32px;
  // padding: 9px;

  &:hover {
    background-color: $colour-galaxy;
  }
}
