@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $modal-bg-backdrop;
  z-index: $z-index-modal;
}
