@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.c-site-header {
  &__mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: $colour-galaxy;
    color: white;
    text-align: center;
    border-top: 2px solid #063C61;

    &-link {
      display: flex;
      justify-content: space-between;  
      align-items: center;
      height: 100%;
      padding: 0px 64.5px;

      &-main {
        border: transparent !important;

        & > button {
          margin-bottom: 10px !important;
        }
      }

      &-active {
        border-top: 2px solid white;

        & .main {
          & circle {
            stroke: white;
            stroke-width: 2px;
            stroke-linejoin: round;
          }
        }
      }

      &-container {
        padding-top: 0px;
        margin-top: -10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & .main {
          scale: 1.5;
          margin-bottom: 20px;
        }
      }

      &-container > * {
        color: #80929F;
      }

      &-container a {
        font-size: 14px;
        font-weight: 600;
      }

      &-container > button {
        background-color: transparent;
        width: 45px;
        height: 20px;
        padding-top: 8px;
        margin-bottom: 5px;
      }

      & > * {
        color: #798C99;
      }

      &-active {
        & > * {
          color: white
        }
      }
    }
  }
}

