@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.c-site-header {
  &__mobile {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $navbar-height;
    background-color: $colour-galaxy;
    color: white;
    text-align: center;
    border-top: 2px solid #063c61;
    z-index: $z-index-navbar;

    &-link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0px 64.5px;

      &-main {
        border: transparent !important;

        & > button {
          margin-bottom: 10px !important;
        }
        & > a {
          margin-bottom: 3px;
        }

        & .main-svg {
          svg {
            min-width: 48px;
            min-height: 48px;
          }
        }
      }

      &-active {
        &-side {
          border-top: 2px solid white !important;
        }

        & .main {
          & circle {
            stroke: white;
            stroke-width: 2px;
            stroke-linejoin: round;
          }
        }
      }

      &-container {
        height: 100%;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 4px;
        border-top: 2px solid transparent;

        & .main {
          margin-bottom: 20px;
          // stop circle being cut off
          overflow: visible;
        }

        svg {
          min-width: 28px;
          min-height: 28px;
        }
      }

      &-container > * {
        color: #80929f;
      }

      &-container a {
        font-size: 14px;
        font-weight: 600;
      }

      &-container > button {
        background-color: transparent !important;
        width: 45px;
        height: 20px;
        padding-top: 8px;
        margin-bottom: 5px;
      }

      & > * {
        color: #798c99;
      }

      &-active {
        & > * {
          color: white;
        }
      }
    }
  }
}
