@import "css/settings";
@import "css/settings/breakpoints";

.c-slider-locator {
  display: flex;
  align-items: center;
  justify-content: center;

  &__divider {
    display: flex;
    align-self: flex-start;

    @media screen and (min-width: $global-breakpoint-lg) {
      align-self: center;
    }

    &__dot {
      height: 10px;
      border-radius: 10px;
      margin: 0 3px;
      transition: width 0.5s;
    }
  }
}
