@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";
@import "layout/app/news/section/section-settings";

.c-earth-hq-cta {
  position: relative;
  background-image: url("/static/images/star-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &:not(:empty) {
    padding: 60px;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 600px;
    background-image: url("/static/images/globe-fires.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: $o-page-section-wrap-max-width) {
      left: auto;
      width: 646px;
    }
  }

  &__content {
    padding: 72px 40px;
    width: 100%;
    max-width: 658px;
    backdrop-filter: blur(5.43656px);
    background-color: rgba($colour-galaxy, 0.6);
    border-radius: 12px;
  }

  &__title,
  &__text {
    color: $white;
    font-weight: 600;
  }

  &__title {
    @include font-size(32px, 48px);

    font-family: Barlow;
    margin-bottom: 20px;
  }

  &__text {
    @include font-size(18px, 27px);

    margin-bottom: 20px;
  }

  &__link {
    min-width: 257px;
  }
}
