@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";
@import "layout/app/news/section/section-settings";

.c-earth-hq-cta {
  position: relative;
  background-image: url("/static/images/star-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $global-breakpoint-md) {
    height: auto;
  }

  &__globe {
    position: relative;
    height: 143px;
    width: 287px;
    margin-top: 24px;

    @media screen and (min-width: $global-breakpoint-md) {
      display: flex;
      height: 100%;
      top: 0;
      right: 0;
    }

    .shadow {
      border-radius: 50%;
      height: 287px;
      width: 287px;
      box-shadow: 0px 0px 111.16368103027344px 0px rgba(0, 0, 0, 1);
    }
  }

  &__content {
    width: 100%;
    width: 100%;
    max-width: 658px;
    background-color: transparent;
    border-radius: 12px;
    padding: 20px 40px 0px 40px;

    @media screen and (min-width: $global-breakpoint-md) {
      position: relative;
      padding: 72px 40px;
      background-color: rgba($colour-galaxy, 0.6);
      backdrop-filter: blur(5.43656px);
      margin-top: 0;
    }
  }

  &__title,
  &__text {
    color: $white;
  }

  &__title {
    @include font-size(20px, 30px);

    margin-bottom: 8px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;

    @media screen and (min-width: $global-breakpoint-md) {
      @include font-size(32px, 48px);

      font-family: Barlow;
      text-align: left;
      margin-bottom: 20px;
      text-transform: initial;
    }
  }

  &__text {
    @include font-size(16px, 24px);

    margin-bottom: 24px;
    text-align: center;
    font-weight: 500;

    @media screen and (min-width: $global-breakpoint-md) {
      @include font-size(18px, 27px);

      text-align: left;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  &__link {
    max-width: 257px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    margin: auto;

    @media screen and (min-width: $global-breakpoint-md) {
      margin: 0;
    }

    .text {
      @include font-size(20px, 30px);

      font-family: "Barlow Condensed";
      font-weight: 500;
      margin-bottom: 0;
      margin-left: 24px;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-radius: 50%;
      color: $colour-galaxy;
      padding: 9px;
    }
  }
}
