@import 'css/settings';

.c-login {

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: $white;

    h2, label {
      color: $white;
    }

    form {
      margin: 22px 0 0;
  
      .forgot-password-link {
        font-size: $font-size-small;
        color: $freshwater;
      }
  
      .recaptcha-container {
        min-height: 78px;
      }
  
      .form-buttons {
        margin: $margin-size-small 0 0;
  
        > ul {
          display: flex;
          align-items: center;
        }
      }
    }
  
    .log-in-container {
      width: 50%;
      max-width: 400px;

      > .wrapper {
        padding: 0 $margin-size-big;
  
        @media screen and (min-width: map-get($breakpoints, medium)) {
          padding: 0 $margin-size;
        }
      }
    }
  }
}
