@import "css/settings";
@import "css/settings/breakpoints";

.c-social-icon {
  $this: &;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  padding: 7px;
  background-color: $white;
  border: 2px solid $white;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out, border-color 0.1s ease-in-out;

  &:not(:last-child) {
    margin-right: 12px;
  }

  &:hover {
    background-color: $colour-flame;
    border-color: $colour-flame;

    svg {
      color: $white;
    }
  }

  svg {
    color: $colour-night;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    width: 44px;
    height: 44px;
    padding: 10px;
  }
}
