@import "css/settings";
@import "css/settings/breakpoints";

.c-news-article-skeleton {
  display: flex;
  flex-direction: column;
  border-radius: 16px;

  @media screen and (min-width: $global-breakpoint-md) {
    justify-content: space-between;
    height: 100%;
  }

  &__top {
    display: grid;
    gap: 16px;
    padding: 20px 20px 0 20px;

    &:not(.featured) {
      margin-bottom: 20px;
      grid-template-columns: 80px 1fr;

      @media screen and (min-width: $global-breakpoint-md) {
        margin-bottom: 0;
        grid-template-columns: 1fr;
        gap: 12px;
      }

      .image {
        height: 80px;
        width: 80px;
        border-radius: 12px;

        @media screen and (min-width: $global-breakpoint-md) {
          height: 160px;
          width: 100%;
        }
      }
    }

    &.featured {
      gap: 12px;
      padding: 20px;

      @media screen and (min-width: $global-breakpoint-md) {
        padding: 32px;
      }

      .image {
        height: 160px;

        @media screen and (min-width: $global-breakpoint-md) {
          min-height: 275px;
          height: 100%;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    border-radius: 0 0 16px 16px;
    background-color: rgba($colour-galaxy, 0.5);

    &.featured {
      padding: 20px;

      @media screen and (min-width: $global-breakpoint-md) {
        padding: 32px;
      }
    }

    .text {
      width: 72px;
    }
  }
}
