@import "css/settings/breakpoints";

.c-news-article-skeleton {
  display: flex;
  flex-direction: column;
  border-radius: 16px;

  &__top {
    display: grid;
    grid-template-columns: 80px 1fr;
    gap: 16px;
    padding: 20px 20px 0 20px;

    @media screen and (min-width: $global-breakpoint-md) {
      grid-template-columns: 1fr;
      gap: 12px;
    }

    .image {
      height: 80px;
      width: 80px;
      border-radius: 12px;

      @media screen and (min-width: $global-breakpoint-md) {
        height: 160px;
        width: 100%;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;

    .text {
      width: 72px;
    }
  }
}
