@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-anchor-cta {
  display: inline-block;
  padding: 8px 24px;
  color: $white;
  @include font-size(16px, 24px);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background-color: $colour-flame;
  border-radius: 48px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $colour-night;
  }

  &:active,
  &:focus {
    background-color: $colour-galaxy;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    padding: 8px 40px;
    @include font-size(20px, 30px);
  }
}
