@import "css/settings";
@import "css/settings/zIndex";

.c-layout-app {
  .gdpr-banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    z-index: $z-index-cookies;

    &.-desktop {
      padding: 30px 60px;
    }

    &.-mobile {
      padding: 16px 16px;
    }

    .text {
      margin: 10px auto;
      color: $grey-lighter;
    }
    .main-banner{
      display: flex;
      margin: auto;
      width: 90%;

      &.-mobile {
        flex-direction: column;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      flex: 2;
    }
    .cookie {
      display: flex;
      align-self: flex-start;
    }
    .cookie-svg {
      margin: 3px;
    }
    .cookie-text {
      color: $white;
      font-weight: 500;
      margin: auto 10px;
    }

    .button-group {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
    }
    .acceptButton {
      background-color: $colour-flame;
      padding: 0 20px;
      &:hover {
        background-color: $grey-darker;
      }
    }

    .rejectButton {
      border: solid 1px $white;
      padding: 0 13px;

      &:hover {
        color: $grey-darkest;
        background-color: $grey-lighter;
      }
    }

    button {
      margin: 0.5rem;
      height: 34px;
      color: $white;
      border-radius: 20px;
      font-weight: bold;
    }
  }
}
