@import "css/settings";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";
@import "css/tools/fontSize.scss";

.c-layout-app {
  .gdpr-banner {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-space;
    z-index: $z-index-cookies;

    &.-desktop {
      padding: 30px 60px;
    }

    &.-mobile {
      padding: 24px 24px;
    }

    .text {
      font-family: "Barlow";
      font-style: normal;
      font-weight: 500;
      @include font-size(16px, 24px);
      margin: 10px auto;
      color: $grey-lighter;

      &.-desktop {
        margin-right: 1rem;
      }
    }
    .main-banner {
      display: flex;
      margin: auto;
      max-width: 1192px;

      &.-mobile {
        flex-direction: column;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      flex: 2;
    }
    .cookie {
      display: flex;
      align-self: flex-start;
    }
    .cookie-svg {
      margin: 3px;
    }
    .cookie-text {
      color: $white;
      font-weight: 500;
      margin: auto 10px;
    }
    .button-group {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      white-space: nowrap;

      &.-mobile {
        margin-top: 1rem;
      }

      @media screen and (max-width: $global-breakpoint-sm) {
        & {
          justify-content: space-between;
        }
      }
    }

    .acceptButton {
      background-color: $colour-flame;
      padding: 0 20px;
      &:hover {
        background-color: $grey-darker;
      }

      @media screen and (max-width: $global-breakpoint-xs) {
        & {
          flex: 1;
        }
      }
    }

    .cookie-icon {
      color: #002841;
    }

    .rejectButton {
      border: solid 2px $white;
      padding: 0 13px;
      &:hover {
        color: $grey-darkest;
        background-color: $grey-lighter;
      }
    }

    button {
      height: 34px;
      color: $white;
      border-radius: 20px;
      font-family: "Barlow Condensed";
      font-style: normal;
      font-weight: 500;
      @include font-size(16px, 24px);

      &:first-child {
        margin-right: 0.5rem;
      }
      &:last-child {
        margin-left: 0.5rem;
      }
    }
  }
}
