@import 'css/settings';

.c-climate-scrolly-telling {
    overflow: initial;
    padding: 0px 0px 20vh 0px;
    background-color: $grey-lighter;

    .climate-clock-story {
        .smoke-container {
            position: sticky;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $grey-light;
    
            .smoke-text {
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: absolute;
                
                h6, h1 {
                    text-align: center;
                    color: $white;
                    font-family: 'Barlow Condensed';
                }
    
                h6 {
                    font-size: 16px;
                    margin-bottom: 0px;
                }
            }
    
            canvas {
                width: 100%;
                height: 100%;
            }
        }
    }

    .story {

        .sticky-container {
            position: sticky;
            top: 0px;
            left: 0px;
            height: 100vh;

            .wrapper-container {
                position: relative;
                display: flex;
                height: 100%;
                width: 100%;

                .sticky-element {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;

                    &.-mobile {
                        justify-content: center;
                    }

                }

                .year-container {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    font-family: 'Barlow Condensed';
                    padding: 10px 45px 10px 45px;
                    color: $white;
    
                    .year-value {
                        display: flex;
                        font-size: 48px;
                        margin-top: -2 * $space;
                    }
    
                    .year-subtitle {
                        font-size: 24px;
                        margin-top: -20px;
                    }
                }
            }
        }
    }

    .steps {
        display: flex;
        flex-direction: column;

        &.-mobile {
            align-items: center;
        }

        .text-box-container {
            position: relative;
            max-width: 400px;
            margin: 0px 0px 100vh 124px;

            &.-mobile {
                margin: 0px 16px 100vh 16px;
            }

            .photo-subtitle {
                color: $grey-darker;
                font-size: 14px;
            }

            h6 {
                margin: 0px 0px $space 0px;
                font-size: 16px;
                font-family: 'Barlow Condensed';
                color: $climate-titles
            }

            .text-card-source {
                font-size: 12px;
                color: $grey-darker;
            }

            a {
                text-decoration: underline;
            }
        }
    }
}