.c-widget-preview {
  display: flex;
  height: 100%;
  width: 100%;

  .preview-container {
    display: flex;
    height: 100%;
    width: 100%;

    &.-animate {
      opacity: 0;
      animation: fade-in 1.5s forwards;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
