@import 'css/settings';

.c-widget-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .panel-title {
        display: flex;
        justify-content: space-between;
        padding: 4 * $space;
        border-radius: 12px 12px 0px 0px;
        border: solid 1px $grey;
    }

    .panel-actions {
        display: flex;
        align-items: center;

        button {
            width: 18px;
            height: 18px;
            margin-left: 11px;
        }

        .share-button {
            background-image: url('/static/images/share/share.svg');

            &:hover {
                background-image: url('/static/images/share/share-hover.svg');
            }
        }

        .info-button {
            background-image: url('/static/images/info-widget.svg');

            &:hover {
                background-image: url('/static/images/info-widget-hover.svg');
            }
        }

        .close-button {
            background-image: url('/static/images/close-widget.svg');

            &:hover {
                background-image: url('/static/images/close-widget-hover.svg');
            }
        }
    }

    .widget-preview-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        border-bottom: solid 1px $grey;
        border-right: solid 1px $grey;
        border-left: solid 1px $grey;

        &.-chart {
            padding: 2 * $space;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .info-container {
        position: relative;
        height: 100%;
        padding: 20px;
        border: solid 1px $grey;

        h5 {
            margin: 0px 0px 10px 0px;
        }

        .caption {
            position: absolute;
            bottom: 10px;
            left: 20px;
            font-style: italic;
            font-size: 14px;
        }
    }
    
    .powered-by {
        display: flex;
        justify-content: flex-end;
        color: $grey-darker;
        font-size: 11px;
        margin-top: 2 * $space;

        a {
            margin-left: 4px;
            color: $grey-darker;
            font-family: 'Lato';
            text-decoration: none;
        }
      }
}