@import 'css/settings';

.c-combined-widget {
    display: flex;
    min-height: 100%;
    min-width: 100%;

    &.-row {
        flex-direction: row;

        .widget1-container, .widget1-container {
            min-height: '100%';
        }

        .widget1-container {
            margin-right: 2 * $space;
        }
    }

    &.-column {
        flex-direction: column;

        .widget1-container, .widget2-container {
            min-width: '100%'
        }

        .widget1-container {
            margin-bottom: 2 * $space;
        }
    }
}