@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";
@import "css/tools/defaultScrollBar";

.c-settings-menu-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 8px;
  height: 100%;
  width: 100%;
  background-color: $colour-space;
  mix-blend-mode: normal;
  backdrop-filter: blur(10.8731px);
  box-shadow: 0px 0px 113.425px #000000;
  border-radius: 28px;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: #{$colour-night}20;

    > div:first-child {
      display: flex;
      align-items: center;

      & .icon {
        color: $white;
        background-color: $colour-galaxy;
        padding: 7px;
        border-radius: 50%;
      }

      & .title {
        margin: 0 auto;
        margin-left: 12px;
        color: $white;
        @include font-size(20px);
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }

  &__body {
    position: relative;
    height: 100%;
    margin: 24px 0px;
  }

  &__scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    @include defaultScrollBar();

    > div {
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  &__body-title {
    @include font-size(14px, 21px);
    color: white;
    font-weight: 500;
    margin-bottom: 8px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    top: 40px;
    bottom: 40px;
    left: 50%;
    width: 640px;
    height: auto;
    transform: translateX(-50%);

    &__body-title {
      @include font-size(18px, 27px);
      margin-bottom: 16px;
    }

    &__header {
      padding: 24px;

      > div:first-child {
        & .title {
          @include font-size(20px, 30px);
        }
      }
    }

    &__body {
      margin: 40px 0px;
    }

    &__scroll {
      > div {
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }
}
