.c-mobile-menu-container {
  position: fixed;
  right: 0;
  bottom: 56px;
  left: 0;
  z-index: 0;

  &__draggable {
    position: absolute !important;
    bottom: 0;
    left: 0;

    &__handle {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 8px;
        width: 115px;
        height: 6px;
        background-color: white;
        opacity: 0.8;
        border-radius: 3px;
        transform: translateX(-50%);
      }
    }
  }
}
