@import "css/settings";
@import "css/settings/zIndex";

.c-mobile-menu-container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-header;

  &__draggable {
    position: absolute !important;
    bottom: 0;
    left: 0;

    &__handle {
      position: relative;
      z-index: 1001;

      &__closed {
        &:before {
          content: "";
          position: absolute;
          bottom: -80px;
          height: 80px;
          left: 0;
          right: 110px;
        }
      }

      &__open {
        &:before {
          content: "";
          position: absolute;
          bottom: -80px;
          height: 80px;
          left: 65px;
          right: 65px;
        }
      }
    }
  }
}
