@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.data-info-container {
  height: 100%;
  z-index: $z-index-menu;
  position: relative;

  &__skeleton {
    margin: 0 24px;

    @media screen and (min-width: $global-breakpoint-md) {
      margin-top: 16px;
    }
  }
}
