@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.data-info-container {
  height: 100%;
  z-index: $z-index-menu;
  position: relative;

  &__skeleton {
    @media screen and (max-width: $global-breakpoint-md) {
      margin: 16px 24px 0;
      width: auto;
    }
  }
}
