@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.data-info-container {
  height: 100%;
  z-index: $z-index-menu;
  position: relative;

  .skeleton-container {
    width: 100%;
    padding: 0 24px;
  }

  &__skeleton {
    min-height: 186px;

    @media screen and (max-width: $global-breakpoint-md) {
      margin-top: 16px;
      width: auto;
      min-height: auto;
    }
  }
}
