@import 'css/settings';

.c-static-list-widget {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;

    ul, ol {
        list-style: circle inside;  
        padding: 0px; 
        margin: 0px;
    }

    ol {
        list-style-type: decimal;
    }

    ul {
        list-style-type: circle;
    }

    li {
        display: list-item;

        .list-element-label {
            font-family: 'Barlow Condensed';
            font-size: $font-size-h2;
            line-height: $line-height-h2;
            font-weight: 400;
        }
    }
}