@import "css/settings";
@import "css/settings/breakpoints";

.c-map-controls {
  display: flex;
  justify-content: center;
  align-items: center;

  &--projection-type {
    padding: 11px;

    @media screen and (min-width: $global-breakpoint-md) {
      padding: 13px;
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    justify-content: flex-start;
    margin-top: 12px;
  }
}
