@import "css/_settings.scss";
@import "css/tools/fontSize.scss";
@import "css/settings/breakpoints";

.c-home-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 558px;
  max-height: 532px;
  left: 24px;
  bottom: 120px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  animation: FadeIn 0.3s ease-in;
  box-shadow: 0px 0px 113.425px #000000;
  border-radius: 16px;

  &__tabs {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__tab-list {
    color: white;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
  }

  &__tab {
    color: white;
    cursor: pointer;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
    font-weight: 500;
    font-family: "Barlow";
    @include font-size(14px, 21px);
    &[aria-selected="true"] {
      border-bottom: 3px solid $colour-flame;
    }

    &:hover,
    &:focus-visible {
      border-bottom: 3px solid white;
      outline: 0px;
    }
  }

  &__tab-container {
    background: rgba($colour-space, 0.8);
    backdrop-filter: blur(10.8731px);
    padding: 86px 28px 40px 28px;
    position: relative;
    height: 100%;
  }

  &__tab-description {
    display: block;
    background-color: $colour-galaxy;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 12px 28px;
    font-family: "Barlow";
    font-weight: 500;
    @include font-size(14px, 21px);
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 24px solid $colour-galaxy;
      position: absolute;
      right: 40px;
      top: -18px;
    }
  }

  &--closing {
    opacity: 0;
    animation: FadeOut 0.3s ease-in;
  }

  &__header {
    background-color: rgba($colour-night, 0.4);
    backdrop-filter: blur(10.8731px);

    padding: 14px 28px 0px 28px;
    border-radius: 16px 16px 0 0;
  }

  &__header-content {
    display: flex;
    align-items: center;

    &:before {
      content: "";
      display: block;
      background-image: url("/static/icons/home-menu/layers.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 40px;
      width: 40px;
      margin-right: 12px;
    }
  }

  &__header-text {
    @include font-size(24px, 36px);
    text-transform: uppercase;
    font-weight: 500;
    font-family: "Barlow Condensed";
    color: white;
    margin: 0px;
    flex-grow: 1;
  }

  &__close-button {
    display: block;
    background-image: url("/static/icons/close.svg");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 50% 9px;
    width: 40px;
    height: 40px;
    margin-right: -20px;
    border-radius: 50%;

    &:focus,
    &:hover {
      background-color: $colour-flame;
    }
  }

  &__content {
    flex-grow: 1;
    border-radius: 0 0 16px 16px;
  }

  @media screen and (max-width: $global-breakpoint-md) {
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    max-height: unset;
    max-width: unset;

    &__header {
      border-radius: 16px 16px 0 0;
      padding: 11px 24px 0px 24px;
    }

    &__header-content {
      &:before {
        height: 28px;
        width: 28px;
        margin-right: 8px;
      }
    }

    &__tab-container {
      background: $colour-space;
      padding: 64px 24px 40px 24px;
    }

    &__tab {
      @include font-size(12px, 18px);
    }

    &__tab-description {
      padding: 8px 24px;
      @include font-size(12px, 18px);
      &:after {
        right: 24px;
        top: -14px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 16px solid $colour-galaxy;
      }
    }

    &__header-text {
      @include font-size(20px, 30px);
    }

    &__close-button {
      margin-right: -12px;
      background-size: 19px 19px;
      background-position: 50% 7px;
      width: 31px;
      height: 31px;
    }
  }
}

.c-home-menu-container {
  @media screen and (max-width: $global-breakpoint-md) {
    background: rgba($colour-space, 0.4);
    backdrop-filter: blur(10.8731px);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px;
    position: absolute;
    z-index: 11;
  }

  animation: FadeIn 0.3s ease-in;

  &--closing {
    opacity: 0;
    animation: FadeOut 0.3s ease-in;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
