@import "css/settings/breakpoints";

.c-header-options {
  display: flex;
  justify-content: flex-end;
  min-width: 180px;

  &__language {
    width: 137px;
  }

  &__language,
  &__share {
    margin-right: 12px;
  }

  &__icon-button {
    width: 48px;
    height: 48px;

    svg {
      min-width: 24px;
      min-height: 24px;
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    &__icon-button {
      width: 32px;
      height: 32px;

      svg {
        min-width: 16px;
        min-height: 16px;
      }
    }
  }
}
