@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-mega-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($colour-space, 0.95);
}
