@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";
@import "css/settings/breakpoints";

.c-header-title {
  position: fixed;
  left: 0;
  right: 0;
  top: 18px;
  z-index: -1;

  &__title,
  &__subtitle {
    color: white;
    font-family: "Barlow Condensed";
    margin: 0px;
    @include font-size(20px, 30px);
  }

  &__title {
    font-weight: 500;
    text-transform: uppercase;
  }

  &__subtitle {
    font-weight: 300;
  }

  @media screen and (max-width: $global-breakpoint-md) {
    top: 64px;
    &__title,
    &__subtitle {
      @include font-size(16px, 24px);
    }
  }
}
