@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-news-search {
  width: 100%;

  @media screen and (min-width: $global-breakpoint-md) {
    width: auto;
  }

  &__input {
    height: 40px;
    background-color: $colour-midnight;
  }

  &__filters {
    display: flex;
    align-items: center;
    gap: 8px;

    padding-bottom: 16px;

    button {
      background-color: $white;
      color: $colour-midnight;
      padding: 6px 12px;
      border-radius: 10px;
      text-transform: capitalize;

      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;

      &.active {
        color: $white;
        background: $colour-flame;
      }
    }

    @media screen and (max-width: $global-breakpoint-md) {
      margin-left: -24px;
      margin-right: -24px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }

  // Desktop and above
  @media screen and (min-width: $global-breakpoint-lg) {
    &__filters {
      button {
        padding: 6px 14px;
      }
    }
  }
}
