@import 'css/settings';

.c-freshwater-scrolly-telling {
    overflow: initial;
    padding: 33vh 0px 0px 0px;

    .story {

        &.water-drop-story {
            position: relative;

            &.-mobile {
                padding: 0px;
            }

            .water-drop-container {
                position: sticky;
                top: 0px;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &.-mobile {
                    margin: 0px;
                    padding: 0px 16px 0px 16px;
                }

                .water-drop-elements {
                    margin-left: 40%;
                }
            }
        }
        
        &.worldmap-story {
            margin-top: 30vh;

            .worldmap-container {
                position: sticky;
                top: 0px;
                width: 100%;
                height: 100vh;
                display: flex;
                align-items: center;

                .worldmap-image {
                    width: 100%;
                }

                .water-drop-location {
                    position: absolute;
                    width: 25px;
                    height: 25px;
                }
            }
        }

        .steps {
            display: flex;
            flex-direction: column;

            &.-mobile {
                align-items: center;
            }
        }

        .visual-sources {
            position: absolute;
            bottom: 16px;
            right: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            font-family: 'Barlow';
            font-size: 12px;
            line-height: 18px;
            color: $grey-darker;
            z-index: 1;

            a {
                text-decoration: underline;
            }
        }
    }
}