@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";
@import "css/tools/scrollbar";

// For the best effect this value should be lower then the transition duration
// found in: layout/header/header.module.scss
$c-mega-menu-wrapper-transition-duration-ms: 700;

:export {
  transition-duration: $c-mega-menu-wrapper-transition-duration-ms;
}

$c-mega-menu-padding-x-desktop: 60px;

.c-mega-menu {
  $this: &;

  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 0 1 100%;
  max-width: 1246px + $c-mega-menu-padding-x-desktop;
  padding: 24px 12px 20px;
  margin: 0 auto;
  overflow: hidden;
  opacity: 0;
  transition: opacity #{$c-mega-menu-wrapper-transition-duration-ms}ms ease-in-out;

  &--opening,
  &--closing {
    #{$this}__scroll {
      overflow: hidden;
    }
  }

  &--in {
    opacity: 1;
  }

  &__scroll {
    flex: 0 1 100%;
    padding: 0 12px;
    overflow: auto;
    @include scrollbars(4px, #b6b8ba, #494d51);
  }

  &__ctas {
    display: grid;
    gap: 12px;
    padding-bottom: 20px;
    border-bottom: 1px solid $white;
  }

  &__links {
    padding-top: 20px;

    &__copy-right {
      color: $white;
      font-weight: 500;
      @include font-size(12px, 18px);
    }
  }

  @media screen and (min-width: $global-breakpoint-md) {
    padding: 24px 30px;

    &__scroll {
      padding: 0 30px;
    }

    &__ctas {
      gap: 24px;
    }

    &__links {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 24px;

      &__copy-right {
        @include font-size(14px, 21px);
      }
    }
  }

  @media screen and (min-width: $global-breakpoint-lg) {
    padding-top: 70px;

    &__ctas {
      grid-template-columns: 40% 1fr 1fr;
      padding-bottom: 70px;
    }
  }

  @media screen and (min-width: $global-breakpoint-xl) {
    &__ctas {
      grid-template-columns: 544px 1fr 1fr;
    }
  }
}

.c-mega-menu-quick-links {
  margin: 0;
  padding: 0;
  list-style: none;

  li:not(:last-child) {
    margin-bottom: 6px;
  }

  a {
    color: $white;
    font-weight: 500;
    @include font-size(14px, 21px);

    &:hover {
      text-decoration: underline;
    }
  }

  @media screen and (min-width: $global-breakpoint-md) {
    li:not(:last-child) {
      margin-bottom: 8px;
    }

    a {
      @include font-size(18px, 27px);
    }
  }
}

.c-mega-menu-socials {
  display: flex;
  margin: 12px 0 24px;

  &__icon:not(:last-child) {
    margin-right: 8px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    justify-content: flex-end;
    margin: 0 0 12px;

    &__icon:not(:last-child) {
      margin-right: 12px;
    }
  }
}
