@import "css/settings";
@import "css/tools/fontSize";

.c-page-404 {
  background: url("/static/images/star-background.jpg");
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  h1,
  p {
    color: $white;
    font-family: Barlow;
  }

  h1 {
    @include font-size(32px, 48px);

    font-weight: 600;
    margin-bottom: 8px;
  }

  p {
    @include font-size(16px, 24px);

    font-weight: 500;
    margin-bottom: 32px;
  }
}
