@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-news {
  &__top-button {
    position: fixed;
    width: 32px;
    height: 32px;
    right: 24px;
    bottom: 76px;
    z-index: 1000;

    svg {
      min-width: 16px;
      min-height: 16px;

      @media screen and (min-width: $global-breakpoint-md) {
        min-width: 24px;
        min-height: 24px;
      }
    }

    @media screen and (min-width: $global-breakpoint-md) {
      width: 48px;
      height: 48px;
      right: 60px;
      bottom: 40px;
    }
  }

  &__featured-widgets {
    padding-top: 24px;

    > h2 {
      @include font-size(20px, 30px);

      color: $white;
      font-weight: 600;
      margin: 0 24px 16px 24px;
    }
  }

  &__must-watch-skeleton {
    @media screen and (min-width: $global-breakpoint-md) {
      grid-row-end: span 2;
    }
  }
}
