@import "css/settings/breakpoints";

.c-news {
  .c-topics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: -12px;

    @media screen and (max-width: $global-breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: $global-breakpoint-sm) {
      grid-template-columns: 1fr;
      // Desired padding + navbar height
      margin-bottom: calc(60px + 58px);
    }
  }
}
