@import "css/settings";
@import "css/tools/fontSize";
@import "layout/app/news/section/section-settings";

.c-page-search {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colour-galaxy;
    padding-top: 0px;
    padding-bottom: 25px;
    padding-left: $o-page-section-padding-x;
    padding-right: $o-page-section-padding-x;
  }

  &__filters {
    overflow-x: auto;
  }

  &__load-more__btn:focus {
    background-color: $colour-midnight;
  }
}
