@import 'css/settings';

.c-islands-of-plastic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('/static/images/scrolly-telling/ocean/waves-background.svg');
    background-size: 23px 13px;
    animation: fade-in 0.5s forwards;

    .map-container {
        position: relative;
        padding: 30px;

        // ----------------------- MAP ----------------------
        .map {
                
            &.-mobile {

            }
            &.-desktop {
                min-width: 690px;
                max-width: 690px;
            }
            &.-desktop-large {
                min-width: 960px;
                max-width: 960px;
            }
            &.-desktop-x-large {
                min-width: 1120px;
                max-width: 1120px;
            }
        }

        // ---------------------- CURRENTS -------------------
        .north-pacific-gyre {
            position: absolute;
            
            &.-mobile {
                
            }
            &.-desktop {
                top: 80px;
                left: 360px;
                height: 90px;
            }
            &.-desktop-large {
                top: 108px;
                left: 520px;
                height: 100px;
            }
            &.-desktop-x-large {
                top: 82px;
                left: 393px;
                height: 100px;
            }
        }
        .south-pacific-gyre {
            position: absolute;
            
            &.-mobile {
                
            }
            &.-desktop {
                top: 200px;
                left: 466px;
                height: 85px;
            }
            &.-desktop-large {
                top: 280px;
                left: 665px;
                height: 95px;
            }
            &.-desktop-x-large {
                top: 210px;
                left: 496px;
                height: 95px;
            }
        }
        .indian-ocean-gyre {
            position: absolute;
            
            &.-mobile {
                
            }
            &.-desktop {
                top: 185px;
                left: 165px;
                height: 80px;
            }
            &.-desktop-large {
                top: 260px;
                left: 232px;
                height: 90px;
            }
            &.-desktop-x-large {
                top: 195px;
                left: 195px;
                height: 90px;
            }
        }
        .north-atlantic-gyre {
            position: absolute;
            
            &.-mobile {
                
            }
            &.-desktop {
                top: 68px;
                left: 614px;
                height: 65px;
            }
            &.-desktop-large {
                top: 95px;
                left: 860px;
                height: 75px;
            }
            &.-desktop-x-large {
                top: 72px;
                left: 674px;
                height: 75px;
            }
        }
        .south-atlantic-gyre {
            position: absolute;
            
            &.-mobile {
                
            }
            &.-desktop {
                top: 218px;
                left: 652px;
                height: 65px;
            }
            &.-desktop-large {
                top: 325px;
                left: 906px;
                height: 70px;
            }
            &.-desktop-x-large {
                top: 265px;
                left: 718px;
                height: 70px;
            }
        }
    }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
