.c-widget-skeleton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  padding: 51px 16px 16px 16px;
  min-height: 295px;
  height: 100%;

  &__bottom {
    display: flex;
    justify-content: flex-end;
  }
}
