@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";

.c-condensed-menu {
  position: fixed;
  bottom: $navbar-height;
  width: 100%;
  background-color: $colour-night;
  color: white;
  padding: 24px;
  box-shadow: 0px 1px 10px rgba(26, 26, 25, 0.08);
  border-radius: 12px 12px 0px 0px;

  &__title-container {
    display: flex;
    align-items: center;

    &--globe-icon {
      background-image: url("/static/icons/home-menu/search-globe.svg");
      background-size: contain;
      background-repeat: no-repeat;
      height: 32px;
      width: 32px;
      min-width: 32px;
      margin-right: 12px;
      box-shadow: 0px 2px 10px rgba(26, 26, 25, 0.24);
      border-radius: 32px;
    }

    .icon-container {
      min-width: 32px;
      width: 32px;
      height: 32px;
      background: $colour-flame;
      border-radius: 12px;
      margin-right: 12px;
      overflow: hidden;
    }

    .title {
      margin-right: auto;
      margin-bottom: 0;
      text-transform: uppercase;
      letter-spacing: 0.2px;
      font-weight: 600;
      font-family: "barlow condensed";
      @include font-size(20px, 30px);
      padding-right: 16px;
      max-width: 200px;
    }

    .title-condensed {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: auto;
    }

    .location-icon {
      margin-right: 12px;
      min-width: 32px;
      height: 32px;
      svg {
        min-width: 20px;
      }
    }

    .expand-icon {
      min-width: 32px;
      height: 32px;
      svg {
        min-width: 16px;
      }
    }
  }

  .c-normal-scale {
    padding: 7px 20px;
  }
}
