@import "css/settings";

.c-dialog-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, $black 0%, rgba($black, 0.6) 100%);
  }

  &__draggable {
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
}
