@import "css/settings";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

$transitionDurationMS: 400;

:export {
  transitionDuration: $transitionDurationMS;
}

.c-dialog-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba($black, 0.6) 0%, rgba($black, 0.3) 100%);
  z-index: $z-index-dialog;

  &__draggable {
    bottom: 0;
    left: 0;

    &__handle {
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 8px;
        width: 115px;
        height: 6px;
        background-color: $white;
        opacity: 0.8;
        border-radius: 3px;
        transform: translateX(-50%);
      }

      &:before {
        content: "";
        position: absolute;
        bottom: -78px;
        height: 78px;
        left: 65px;
        right: 65px;
      }
    }
  }

  // Animate
  opacity: 0;
  transition: opacity #{$transitionDurationMS}ms ease-in;

  &--open {
    opacity: 1;
  }

  @media screen and (max-width: $global-breakpoint-md) {
    background: rgba(0, 40, 65, 0.95);
  }
}
