@import "css/settings";

$transitionDurationMS: 400;

:export {
  transitionDuration: $transitionDurationMS;
}

.c-dialog-panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, $black 0%, rgba($black, 0.6) 100%);
  z-index: 15;

  &__draggable {
    bottom: 0;
    left: 0;
    z-index: 1000;

    &__handle {
      background-color: $white;
      opacity: 0.8;
      border-radius: 3px;
      transform: translateX(-50%);
    }
  }

  // Animate
  opacity: 0;
  transition: opacity #{$transitionDurationMS}ms ease-in;

  &--open {
    opacity: 1;
  }
}
