@import 'css/settings';

.c-water-drop-locations {

    .main-container {
        position: relative;
        display: flex;
        width: 95vw;
        justify-content: center;
        align-items: center;

        .map-container {
            position: relative;
            display: flex;

            .worldmap-image {

                &.-mobile {
                    min-width: 350px;
                    max-width: 350px;
                }

                &.-desktop {
                    min-width: 750px;
                    max-width: 750px;
                }
            }
        }        
    }
}
