@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.c-tipping-point-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: $colour-space;
  z-index: $z-index-modal;
  display: flex;
  align-items: center;
  justify-content: center;

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    z-index: $z-index-header-tipping;
    background-color: $colour-galaxy;
    padding: 14px 16px;

    &__img {
      position: relative;
      height: 36px;
      width: 114px;
    }

    &__close {
      width: 32px;
      height: 32px;
      margin-right: 12px;

      svg {
        width: 16px;
        height: 16px;

        @media screen and (min-width: $global-breakpoint-md) {
          width: 24px;
          height: 24px;
        }
      }

      @media screen and (min-width: $global-breakpoint-md) {
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }
    }

    &__text {
      @include font-size(20px, 30px);

      font-family: "Barlow Condensed";
      font-weight: 600;
      color: $white;

      @media screen and (min-width: $global-breakpoint-md) {
        font-family: Barlow;
      }
    }

    @media screen and (min-width: $global-breakpoint-md) {
      position: absolute;
      top: 0;
      padding: 22px 60px;
      background-color: $colour-midnight;
    }
  }

  &__video,
  &__iframe {
    width: 100%;

    @media screen and (min-width: $global-breakpoint-md) {
      height: 100%;
      max-width: 992px;
      max-height: 582px;
      border-radius: 16px;
    }
  }

  @media screen and (min-width: $global-breakpoint-md) {
    padding: 0 60px;
    background-color: $bg-backdrop;
  }
}
