@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";
@import "css/settings/breakpoints";

.c-content-panel {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 16px;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  border: 4px solid transparent;
  min-height: 136px;
  justify-content: center;
  row-gap: 8px;

  &__underlay {
    background-color: $colour-galaxy;
    //background-color: rgba($colour-night, 0.4);
    backdrop-filter: blur(10.8731px);
    border-radius: 16px;
    width: 100%;
  }

  &__header-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  &__icon-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 40px;
    min-width: 58px;
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    min-height: 40px;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 18px;

    &--small-sq {
      width: 60px;
      max-width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-family: "Barlow";
    font-weight: 600;
    @include font-size(20px, 30px);
    margin-bottom: 4px;
    text-transform: uppercase;
    color: white;

    @media screen and (max-width: $global-breakpoint-md) {
      font-family: "Barlow Condensed";
    }
  }

  &__subtitle {
    font-family: "Barlow";
    font-weight: 500;
    margin: 0;
    @include font-size(16px, 24px);
    color: white;
  }

  &__button {
    display: flex;

    &:hover {
      display: flex;
    }
  }

  &__cta {
    margin-top: 4px;
  }
  
  &__focusable {
    cursor: pointer;
    .c-content-panel__cta {
      display: none;
      &:hover {
        display: flex;
      }
    }

    &:focus, &:hover, &.c-content-panel--selected {
      border: 4px solid $colour-flame;
      outline: none;
    }
  
    &:focus, &.c-content-panel--selected {
      .c-content-panel__cta {
        display: flex;
      }
    }
  
  }

  &__button-text {
    font-family: "Barlow Condensed";
    margin-right: 8px;
    @include font-size(20px, 30px);
    color: white;
    text-transform: uppercase;
  }

  &__button-icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $white;
    color: $colour-galaxy;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $colour-galaxy;
      color: $white;
    }  
  }

  &[aria-checked="true"] {
    background-color: white;
    .c-headline-card__title,
    .c-headline-card__subtitle {
      color: $colour-space;
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    padding: 20px;
  }
}
