@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";
@import "css/settings/breakpoints";

.c-menu-option {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 16px;
  align-items: flex-start;
  cursor: pointer;
  text-align: left;
  width: 100%;
  border: 4px solid transparent;
  min-height: 136px;
  justify-content: center;

  &__underlay {
    background-color: $colour-galaxy;
    //background-color: rgba($colour-night, 0.4);
    backdrop-filter: blur(10.8731px);
    border-radius: 16px;
  }

  &__header-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
  }

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    object-fit: cover;
    border-radius: 12px;
    margin-right: 18px;

    &--small-sq {
      width: 60px;
      max-width: 60px;
      height: 60px;
    }
  }

  &__title {
    font-family: "Barlow Condensed";
    font-weight: 600;
    @include font-size(20px, 30px);
    margin-bottom: 4px;
    text-transform: uppercase;
    color: white;
  }

  &__subtitle {
    font-family: "Barlow";
    font-weight: 500;
    margin: 0;
    @include font-size(16px, 24px);
    color: white;
  }

  &__button {
    padding: 8px 8px 8px 24px;
    margin-top: 12px;
    border-radius: 23px;
    background-color: $colour-flame;
    align-items: center;
    display: none;
  }

  &__button-text {
    font-family: "Barlow Condensed";
    margin-right: 8px;
    @include font-size(20px, 30px);
    color: white;
    text-transform: uppercase;
  }

  &__button-icon {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $white;
    color: $colour-galaxy;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $colour-galaxy;
      color: $white;
    }  
  }

  &:focus,
  &:hover {
    border: 4px solid $colour-flame;
    outline: none;
  }

  &:focus,
  &:hover {
    .c-menu-option__button {
      display: flex;
    }
  }

  &[aria-checked="true"] {
    background-color: white;
    .c-headline-card__title,
    .c-headline-card__subtitle {
      color: $colour-space;
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    padding: 22px 84px 22px 24px;
  }
}
