$o-page-section-padding-y: 24px;
$o-page-section-padding-x: 24px;
$o-page-section-padding-bottom: 40px;

$o-page-section-padding-y-desktop: 40px;
$o-page-section-padding-x-desktop: 60px;
$o-page-section-padding-bottom-desktop: 60px;

$o-page-section-wrap-max-width: 1366px - ($o-page-section-padding-x-desktop * 2);
