@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";
@import "layout/app/news/section/section-settings";

.o-page-section {
  &:not(:empty) {
    padding-top: $o-page-section-padding-y;
    padding-bottom: $o-page-section-padding-y;
    padding-left: $o-page-section-padding-x;
    padding-right: $o-page-section-padding-x;
  }

  // Selector used here to avoid !important
  &--pb-none:not(:empty) {
    padding-bottom: 0;
    padding-top: 0;
  }

  &--space {
    background-color: $colour-space;
  }

  &--light-space {
    background-color: rgba($colour-space, 0.96);
  }

  &--night {
    background-color: $colour-night;
  }

  &--galaxy {
    background-color: $colour-galaxy;
  }

  &--midnight {
    background-color: $colour-midnight;
  }

  &__nowrap {
    margin: 0 auto;
  }

  &__wrap {
    max-width: $o-page-section-wrap-max-width;
    margin: 0 auto;
  }

  &__title,
  &__subtext {
    color: $white;
  }

  &__title {
    @include font-size(20px, 30px);

    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: 600;
  }

  &__subtext {
    @include font-size(16px, 20px);

    font-weight: 500;
    margin-top: 8px;
  }

  &__grid {
    margin-top: 12px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    &:not(:empty) {
      padding: $o-page-section-padding-y-desktop $o-page-section-padding-x-desktop;
    }

    &__grid {
      margin-top: 16px;
    }

    // Repeated here to avoid !important
    &--pb-none:not(:empty) {
      padding-bottom: 0;
      padding-top: 0;
    }

    &__title {
      font-family: Barlow;
    }
  }
}
