@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

$o-page-section-padding-y: 24px;
$o-page-section-padding-x: 24px;
$o-page-section-padding-bottom: 40px;

$o-page-section-padding-y-desktop: 40px;
$o-page-section-padding-x-desktop: 60px;
$o-page-section-padding-bottom-desktop: 60px;

.o-page-section {
  &:not(:empty) {
    padding: $o-page-section-padding-y $o-page-section-padding-x $o-page-section-padding-bottom;
  }

  &--pb-none:not(:empty) {
    padding-bottom: 0;
  }

  &--space {
    background-color: $colour-space;
  }

  &--light-space {
    background-color: rgba($colour-space, 0.96);
  }

  &--night {
    background-color: $colour-night;
  }

  &--galaxy {
    background-color: $colour-galaxy;
  }

  &__wrap {
    max-width: 1366px - ($o-page-section-padding-x-desktop * 2);
    margin: 0 auto;
  }

  &__title {
    color: $white;
    @include font-size(20px, 30px);
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    &:not(:empty) {
      padding: $o-page-section-padding-y-desktop $o-page-section-padding-x-desktop
        $o-page-section-padding-bottom-desktop;
    }

    &--pb-none:not(:empty) {
      padding-bottom: 0;
    }

    &__title {
      @include font-size(24px, 36px);
      margin-bottom: 20px;
    }
  }
}
