@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";
@import "css/settings/breakpoints";

.c-event-card {
  width: 100%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  padding: 20px;

  &__background {
    filter: brightness(50%) blur(4px);
    background-color: $colour-galaxy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: 5;
  }

  &__detail {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: white;
    font-family: "Barlow";
    font-weight: 600;
    @include font-size(18px, 27px);
    color: white;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: white;
    font-family: "Barlow";
    font-weight: 500;
    @include font-size(14px, 18px);
    color: white;
    margin-bottom: 14px;
  }

  &__thumbnail {
    border-radius: 16px;
    position: relative;
    display: block;
    height: 192px;
    overflow: hidden;

    @media screen and (max-width: $global-breakpoint-md) {
      height: 160px;
    }
  }
}

.c-event-card-condensed {
  width: 100%;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  padding: 12px;
  height: 172px;
  min-height: 172px;

  &__background {
    filter: brightness(50%) blur(4px);
    background-color: $colour-galaxy;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    z-index: 5;
  }

  &__detail {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    padding-bottom: 12px;
    align-items: center;

    .thumbnail {
      border-radius: 16px;
      position: relative;
      display: block;
      height: 82px;
      width: 68px;
      min-width: 68px;
      overflow: hidden;

      @media screen and (min-width: $global-breakpoint-md) {
        height: 160px;
      }
    }

    .title {
      color: white;
      font-family: "Barlow";
      font-weight: 600;
      margin-bottom: 0;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3; /* number of lines to show */
      line-clamp: 3;
      -webkit-box-orient: vertical;
      @include font-size(18px, 27px);
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    margin: 0 -12px -12px -12px;
    background-color: rgba($colour-galaxy, 0.5);

    .date {
      color: white;
      font-family: "Barlow";
      font-weight: 600;
      margin-bottom: 0;
      @include font-size(14px, 18px);
    }
  }
}
