@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";
@import "css/settings/breakpoints";

.c-event-card {
  backdrop-filter: blur(10.8731px);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: left;
  width: 100%;

  &__background {
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    filter: brightness(50%) blur(2px);
    z-index: -1;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  &__detail {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    color: white;
    font-family: "Barlow";
    font-weight: 600;
    @include font-size(18px, 27px);
    color: white;
    margin-bottom: 8px;
  }

  &__subtitle {
    color: white;
    font-family: "Barlow";
    font-weight: 500;
    @include font-size(14px, 18px);
    color: white;
    margin-bottom: 14px;
  }

  &__thumbnail {
    border-radius: 16px;
    position: relative;
    display: block;
    height: 192px;
    overflow: hidden;

    @media screen and (max-width: $global-breakpoint-md) {
      height: 160px;
    }
  }
}
