@import 'css/settings';

.topic-data {
    position: relative;

    .share-button {
        position: fixed;
        top: 20px;
        right: 20px;
        height: 36px;
        width: 76px;
        border: solid 1px;
        z-index: 10;
        animation: fade-in 1s forwards;

        &.-forests {
            color: $forests;
            border-color: $forests;
            &:hover {
                background-color: $forests;
                color: $white;
            }
        }
        &.-climate {
            color: $climate;
            border-color: $climate;
            &:hover {
                background-color: $climate;
                color: $white;
            }
        }
        &.-ocean {
            color: $ocean;
            border-color: $ocean;
            &:hover {
                background-color: $ocean;
                color: $white;
            }
        }
        &.-freshwater {
            border-color: $freshwater;
            &:hover {
                background-color: $freshwater;
                color: $white;
            }
        }

        &.-hidden {
            animation: fade-out 1s forwards;
            pointer-events: none;
        }

        @keyframes fade-in {
            from { opacity: 0; }
            to { opacity: 1; }
        }
        @keyframes fade-out {
            from { opacity: 1; }
            to { opacity: 0; }
        }
    }

    .logo-container {
        position: absolute;
        top: 3 * $space;
        left: 5 * $space;
        cursor: pointer;
        z-index: 10;
    }

    .navigation-dots {
        position: fixed;
        width: 100vh;
        transform-origin: left top;
        transform: rotate(-90deg) translate(-100%, calc(100vw - 60px));
        z-index: 9;
    }

    .headline-section {
        height: 100vh;
        width: 100%;
    }

    .scrolly-telling-container {
        position: relative;
        background-color: $grey-lighter;
    }

    .challenge-to-our-global-commons-section {
    }

    .dive-into-the-data-section {
        padding: 115px 110px 115px 110px;
    }

    .change-agents-section {
        padding: 120px 135px 120px 135px;

        h2 {
            font-style: italic;
            color: $white;
        }

        .coming-soon {
            color: $black;
            font-style: normal;
            margin-left: 3 * $space;
        }
    }
}