.u-text-center {
  text-align: center;
}

.u-text-pre-line {
  white-space: pre-line;
}

.u-text-white {
  color: $white;
}

.u-text-right {
  text-align: right;
}

.u-no-wrap {
  white-space: nowrap;
}

.u-text-body-200 {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}