.u-text-center {
  text-align: center;
}

.u-text-pre-line {
  white-space: pre-line;
}

.u-text-white {
  color: $white;
}

.u-text-right {
  text-align: right;
}

.u-no-wrap {
  white-space: nowrap;
}
