@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-page-section-widget {
  $this: &;

  position: relative;
  height: 100%;
  max-width: 100%;

  &--map,
  &--chart {
    #{$this}__widget {
      position: relative;
      height: 188px;
    }
  }

  &__widget {
    height: 100%;
    width: 100%;
    background-color: $colour-galaxy;
    border-radius: 16px;
    overflow: hidden;
  }

  &__info {
    max-width: 818px;
    color: $white;
    font-weight: 500;
  }

  &__name {
    @include font-size(22px, 33px);
    margin-bottom: 12px;
  }

  &__desc {
    @include font-size(12px, 18px);
    margin-bottom: 16px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    &--map,
    &--chart {
      #{$this}__widget {
        height: 325px;
      }
    }

    &__name {
      @include font-size(32px, 48px);
      margin-bottom: 16px;
    }

    &__desc {
      @include font-size(14px, 21px);
      margin-bottom: 24px;
    }
  }
}
