@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-external-link {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: $colour-galaxy;
  background-color: $white;
  width: fit-content;
  border-radius: 32px;
  padding: 8px 16px;

  > span {
    @include font-size(14px, 18px);

    margin-left: 8px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    @include font-size(14px, 21px);

    > span {
      margin-left: 8px;
    }
  }
}
