@import "css/settings/breakpoints";

.carousel-container {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  column-gap: 12px;
  padding: 32px 24px 16px 24px;

  @media screen and (min-width: $global-breakpoint-md) {
    padding: 16px 24px;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}
