@import 'css/settings';

.c-forests-scrolly-telling {
    overflow: initial;
    background-color: $grey-lighter;

    .story {

        .sticky-container {
            position: sticky;
            top: 0vh;
            height: 100vh;

            .wrapper-container {
                position: relative;
                height: 100%;
                width: 100%;

                .sticky-element {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;

                    &.-mobile {
                        justify-content: center;
                    }

                    &:not(.-mobile){
                        .-align-right {
                            margin-left: 50%;
                            margin-right: 124px;
                        }
                    }
                    .-align-center {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }
                }

                .year-container {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    font-family: 'Barlow Condensed';
                    margin: 5 * $space;
    
                    .year-value {
                        display: flex;
                        font-size: 48px;
                        margin-right: 2 * $space;
                    }
    
                    .year-subtitle {
                        color: $grey-darker;
                        font-size: 24px;
                    }
                }
            }
        }

        .steps {
            display: flex;
            flex-direction: column;

            &.-mobile {
                align-items: center;
            }

            .text-box-container {
                position: relative;
                max-width: 400px;
                background-color: $white;
                margin-bottom: 100vh;
                margin-left: 124px;
            }
        }
    }
}