@import 'css/settings';

.c-forests-scrolly-telling {
    overflow: initial;

    .story {
        .sticky-container {
            position: sticky;
            top: 0vh;
            height: 100vh;

            .wrapper-container {
                position: relative;
                height: 100%;
                width: 100%;

                .sticky-element {
                    display: flex;
                    width: 100%;
                    height: 100vh;
                    align-items: center;

                    &.-mobile {
                        justify-content: center;

                        svg {
                            max-width: calc(100% - 32px);
                        }
                    }

                    &:not(.-mobile){
                        .-align-right {
                            margin-left: 50%;
                            margin-right: 124px;
                        }
                    }
                    .-align-center {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }

                    .south-america-map {
                        overflow: hidden;
                        height: 100vh;
                    }

                    .trees-container {
                        display: flex;
                        overflow: hidden;
                        justify-content: center;
                        max-width: 100%;

                        &.south-america-map-dissolved { 
                            .map-image {
                                position: absolute;
                                top: 0px;
                                height: 100vh;
    
                                animation-name: move-map;
                                animation-duration: 3s;
                                animation-fill-mode: forwards;
                                
                                @keyframes move-map {
                                    0% {
                                        opacity: 1;
                                    }
                                    50% {
                                        transform: translate(1%, 30%) scale(1.3);
                                    }
                                    99% {
                                        opacity: 0;
                                        transform: translate(1%, 30%) scale(1.3);
                                    }
                                    100% {
                                        opacity: 0;
                                        transform: scale(1);
                                    }
                                }
                            }
                        }
                    }
                }

                .visual-sources {
                    position: absolute;
                    bottom: 16px;
                    right: 16px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    font-family: 'Barlow';
                    font-size: 12px;
                    line-height: 18px;
                    color: $grey-darker;
                    z-index: 1;

                    &.-mobile {
                        text-align: right;
                        font-size: 10px;

                        &.-show-year {
                            bottom: 150px;
                        }
                    }

                    a {
                        text-decoration: underline;
                        
                        &:hover { 
                            color: $black;
                        }
                    }
                }

                .year-container {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    font-family: 'Barlow Condensed';

                    &.-desktop {
                        padding: 20px;
                    }

                    &.-mobile {
                        padding: 10px 16px 0px 16px;
                    }
    
                    .year-value {
                        display: flex;
                        margin-right: 10px;

                        &.-desktop {
                            font-size: 48px;

                            &.-long-year {
                                width: 60px;
                            }
                        }
                        &.-mobile {
                            font-size: 36px;

                            &.-long-year {
                                width: 130px;
                            }
                        }
                    }
    
                    .year-subtitle {
                        color: $grey-darker;

                        &.-desktop {
                            font-size: 24px;
                        }
                        &.-mobile {
                            font-size: 18px;

                            &.-long-year {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .steps {
            display: flex;
            flex-direction: column;

            &.-mobile {
                align-items: center;
            }
        }
    }

    // ----------------------- SVG ANIMATION WITH TREES AND SAWS --------------------------

    .saw-icon {
        opacity: 0;

        &.-show {
            &.-saw-1 { animation: appear 0.5s forwards, saw-animation 2s 0.5s infinite }
            &.-saw-2 { animation: appear 0.5s 0.5s forwards, saw-animation 2s 1s infinite }
            &.-saw-3 { animation: appear 0.5s 1s forwards, saw-animation 2s 1.5s infinite }
            &.-saw-4 { animation: appear 0.5s 1.5s forwards, saw-animation 2s 2s infinite }
            &.-saw-5 { animation: appear 0.5s 2s forwards, saw-animation 2s 2.5s infinite }
            &.-saw-6 { animation: appear 0.5s 2.5s forwards, saw-animation 2s 3s infinite }
            &.-saw-7 { animation: appear 0.5s 3s forwards, saw-animation 2s 3.5s infinite }
            &.-saw-8 { animation: appear 0.5s 3.5s forwards, saw-animation 2s 5s infinite }
            &.-saw-9 { animation: appear 0.5s 4s forwards, saw-animation 2s 4.5s infinite }
            &.-saw-10 { animation: appear 0.5s 4.5s forwards, saw-animation 2s 5s infinite }
        }

        @keyframes saw-animation {
            0% { transform: translate(-3px, 3px); }
            50% { transform: translate(0px, 0px); }
            100% { transform: translate(-3px, 3px); }
        }
    }

    .tree-lost {
        animation: appear 3s forwards;

        &.-make-disappear {
            &.-tree-1 { 
                animation: disappear 1s forwards; 
                * { animation: disappear 1s forwards; }
            }
            &.-tree-2 { 
                animation: disappear 1s 0.5s forwards; 
                * { animation: disappear 1s 0.5s forwards; }
            }
            &.-tree-3 { 
                animation: disappear 1s 1s forwards; 
                * { animation: disappear 1s 1s forwards; }
            }
            &.-tree-4 { 
                animation: disappear 1s 1.5s forwards; 
                * { animation: disappear 1s 1.5s forwards; }
            }
            &.-tree-5 { 
                animation: disappear 1s 2s forwards; 
                * { animation: disappear 1s 2s forwards; }
            }
            &.-tree-6 { 
                animation: disappear 1s 2.5s forwards; 
                * { animation: disappear 1s 2.5s forwards; }
            }
            &.-tree-7 { 
                animation: disappear 1s 3s forwards; 
                * { animation: disappear 1s 3s forwards; }
            }
            &.-tree-8 { 
                animation: disappear 1s 3.5s forwards; 
                * { animation: disappear 1s 3.5s forwards; }
            }
            &.-tree-9 { 
                animation: disappear 1s 4s forwards; 
                * { animation: disappear 1s 4s forwards; }
            }
            &.-tree-10 { 
                animation: disappear 1s 4.5s forwards; 
                * { animation: disappear 1s 4.5s forwards; }
            }
        }

        &.-dim {
            animation: dim 1s forwards;
            * { animation: dim 1s forwards; }
        }
    }

    .-normal-tree {
        &.-dim {
            animation: dim 1s forwards;
            * { animation: dim 1s forwards; }
        }
        &.-brigthen {
            animation: brighten 1s forwards;
            * { animation: brighten 1s forwards; }
        }
    }

    .one-tree-text {
        animation: appear 2s forwards;
    }

    @keyframes appear {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    @keyframes disappear {
        0% { opacity: 1;}
        100% { opacity: 0; }
    }
    @keyframes dim {
        from { opacity: 1; }
        to { opacity: 0.5; }
    }
    @keyframes brighten {
        from { opacity: 0.5; }
        to { opacity: 1; }
    }
}