@import 'css/settings';

.c-forests-scrolly-telling {
    overflow: initial;

    .story {

        .sticky-container {
            position: sticky;
            top: 0vh;
            height: 100vh;

            .wrapper-container {
                position: relative;
                height: 100%;
                width: 100%;

                .sticky-element {
                    display: flex;
                    width: 100%;
                    height: 100vh;
                    align-items: center;

                    &.-mobile {
                        justify-content: center;
                    }

                    &:not(.-mobile){
                        .-align-right {
                            margin-left: 50%;
                            margin-right: 124px;
                        }
                    }
                    .-align-center {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }

                    .south-america-map {
                        height: 100vh;
                    }

                    .south-america-map-dissolved { 
                        .map-image {
                            position: absolute;
                            top: 0px;
                            height: 100vh;

                            animation-name: move-map;
                            animation-duration: 3s;
                            animation-fill-mode: forwards;
                            
                            @keyframes move-map {
                                0% {
                                    opacity: 1;
                                }
                                50% {
                                    transform: translate(-13%, 19%);
                                }
                                100% {
                                    opacity: 0;
                                    transform: translate(-13%, 19%);
                                }
                            }
                        }
                    }

                    .chart-pulsating-dot {
                        position: relative;
                        padding: 20px;

                        .chart {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }
                    }
                }

                .year-container {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    font-family: 'Barlow Condensed';
                    padding: 5 * $space;
    
                    .year-value {
                        display: flex;
                        font-size: 48px;
                        margin-right: 2 * $space;
                    }
    
                    .year-subtitle {
                        color: $grey-darker;
                        font-size: 24px;
                    }
                }
            }
        }

        .steps {
            display: flex;
            flex-direction: column;

            &.-mobile {
                align-items: center;
            }
        }
    }
}