@import 'css/settings';

.c-forests-scrolly-telling {
    overflow: initial;
    background-color: $grey-lighter;

    .story {

        .sticky-container {
            position: sticky;
            top: 0vh;
            height: 100vh;

            .wrapper-container {
                position: relative;
                height: 100%;
                width: 100%;

                .sticky-element {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    align-items: center;

                    &.-mobile {
                        justify-content: center;
                    }

                    &:not(.-mobile){
                        .-align-right {
                            margin-left: 50%;
                            margin-right: 124px;
                        }
                    }
                    .-align-center {
                        display: flex;
                        justify-content: center;
                        width: 100%;
                    }

                    .south-america-map {
                        height: 100vh;
                    }

                    .chart-pulsating-dot {
                        position: relative;
                        margin: 100px;

                        .chart {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;

                            img {
                                width: 100%;
                            }
                        }

                        .pulsating-dot {
                            position: absolute;
                            top: 29.5%;
                            right: 7.5%;
                            transform: translateX(-50%) translateY(-50%);
                            width: 20px;
                            height: 20px;

                            &:before {
                                content: '';
                                position: relative;
                                display: block;
                                width: 300%;
                                height: 300%;
                                box-sizing: border-box;
                                margin-left: -100%;
                                margin-top: -100%;
                                border-radius: 50%;
                                background-color: #F35600;
                                animation: pulse 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
                            }

                            img {
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                transform: translateX(-50%) translateY(-50%);
                                z-index: 1;
                            }

                            @keyframes pulse {
                                0% {
                                    transform: scale(.33);
                                }
                                80%, 100% {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }

                .year-container {
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: baseline;
                    font-family: 'Barlow Condensed';
                    margin: 5 * $space;
    
                    .year-value {
                        display: flex;
                        font-size: 48px;
                        margin-right: 2 * $space;
                    }
    
                    .year-subtitle {
                        color: $grey-darker;
                        font-size: 24px;
                    }
                }
            }
        }

        .steps {
            display: flex;
            flex-direction: column;

            &.-mobile {
                align-items: center;
            }

            .text-box-container {
                position: relative;
                max-width: 400px;
                margin-bottom: 100vh;
                margin-left: 124px;

                .background {
                    opacity: 0.75;
                    border-radius: 5px;
                    top: 0px;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                }
            }
        }
    }
}