@import 'css/settings';

.c-tabs {
    margin: $space * 4 0 0;
  
    &.-no-margin {
      margin: 0;
    }
  
    // Tabs-btn
    .tabs-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 10px 0 14px;
      border: none;
      font-size: $font-size-medium;
      color: $white;
      outline: none;
      text-decoration: none;
      white-space: nowrap;
      cursor: pointer;
  
      .number {
        position: absolute;
        top: 4px;
        right: -10px;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        line-height: 14px;
        font-size: 10px;
        font-weight: $font-weight-bold;
        background: $mango;
      }
  
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 0px;
        position: absolute;
        bottom: 0;
        left: 50%;
        opacity: 0;
        background: $mango;
        transform: translate(-50%,0);
        transition: all $animation-time $ease-in-out-sine;
      }
  
      &:hover {
        color: $mango;
      }
  
      &.-active {
        color: $mango;
  
        &:after {
          height: 5px;
          opacity: 1;
        }
      }
    }
  
    &.-dark {
      background: $ui-bg-color;
      padding: 0 $space * 2;
  
      .tabs-btn {
        color: $charcoal-grey;
        font-size: $font-size-normal;
        padding: 14px 0;
  
        .number {
          color: $freshwater-color;
          background: transparent;
        }
  
        &:after {
          background: $freshwater-color;
        }
  
        &:hover {
          color: $freshwater-color;
        }
  
        &.-active {
          color: $freshwater-color;
        }
      }
    }
  }
  