@import "css/settings";
@import "css/tools/fontSize";

.c-globe-card {
  width: 100%;
  border-radius: 12px;
  background-color: #001928;
  margin-bottom: 32px;
  padding: 20px;

  background-image: url("/static/images/globe.png");
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 232px 196px;

  & .title {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Barlow Condensed";
    @include font-size(20px, 30px);
    margin-bottom: 8px;
  }

  & .description {
    width: 200px;
    color: white;
    font-weight: 500;
    font-family: "Barlow";
    @include font-size(14px, 21px);
  }
}
