@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.c-site-header {
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 16px;
  transition: background-color 0.3s ease-in-out;
  z-index: $z-index-header;
  background-color: rgba($colour-galaxy, 1);

  &.sticky {
    position: sticky;
    background-color: $colour-galaxy;
  }

  &.fixed {
    position: fixed;
    background-color: transparent;
    pointer-events: none;
  }

  .top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button,
    a {
      pointer-events: initial;
    }

    &__logo {
      margin-bottom: -6px;
      width: 114px;

      @media screen and (min-width: $global-breakpoint-md) {
        width: 188px;
      }
    }

    &__links {
      display: flex;

      & > div:not(:last-child) {
        margin-right: 30px;

        @media screen and (min-width: $global-breakpoint-lg) {
          margin-right: 60px;
        }
      }
    }
  }

  .bottom-section {
    padding: 14px 24px 16px 24px;

    .title,
    .description {
      color: $white;
      text-align: center;
    }

    .title {
      @include font-size(20px, 30px);
      font-family: "Barlow Condensed";
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 0;
    }

    .description {
      @include font-size(16px, 24px);
      font-weight: 500;
    }
  }

  @media screen and (min-width: $global-breakpoint-md) {
    padding: 22px 60px;

    &.fixed {
      background-color: rgba($colour-galaxy, 0.4);
    }
  }
}
