@import "css/settings";
@import "css/tools/fontSize";
@import "css/settings/zIndex";
@import "css/settings/breakpoints";

// For the best effect this value should be higher then the transition duration
// found in: layout/header/mega-menu/mega-menu.module.scss
$c-mega-menu-wrapper-transition-duration-ms: 800;

:export {
  transition-duration: $c-mega-menu-wrapper-transition-duration-ms;
}

.c-mega-menu-wrapper {
  $this: &;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  z-index: $z-index-header;
  transition: background-color #{$c-mega-menu-wrapper-transition-duration-ms}ms ease-in-out;
  pointer-events: none;

  &--max-height-override #{$this}__bg {
    // !important flag used to override the inline style from the component
    // The animation needs a starting max-height which must be overwritten
    // by another to work.
    max-height: calc((var(--vh, 1vh) * 100) - 40px) !important;
  }

  &--open {
    bottom: 0;
    background-color: rgba($colour-space, 0.95);

    #{$this}__bg {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      background-color: $colour-galaxy;
      border-bottom: 8px solid $colour-flame;
      pointer-events: all;
    }
  }

  &--closing {
    background-color: transparent;

    #{$this}__bg {
      background-color: transparent;
      border-color: transparent;
    }
  }

  &__bg {
    background-color: transparent;
    border-color: transparent;
    overflow: visible;
    transition: background-color #{$c-mega-menu-wrapper-transition-duration-ms}ms ease-in-out,
      max-height #{$c-mega-menu-wrapper-transition-duration-ms}ms ease-in-out,
      border-color #{$c-mega-menu-wrapper-transition-duration-ms}ms ease-in-out;
  }
}

.c-site-header {
  $this: &;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
  transition: background-color 0.3s ease-in-out;

  button,
  a {
    pointer-events: initial;
  }

  &--sticky {
    background-color: $colour-galaxy;
  }

  &__logo {
    width: 112px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    padding: 24px;

    &__logo {
      width: 180px;
    }
    &__links {
      display: flex;
      & > a:not(:last-child) {
        margin-right: 60px;
      }
    }
  }
}
