@import "css/settings";
@import "css/settings/breakpoints";

.c-mega-menu-wrapper {
  $this: &;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;

  &--open {
    bottom: 0;
    background-color: rgba($colour-space, 0.95);

    #{$this}__bg {
      display: flex;
      flex-direction: column;
      background-color: $colour-galaxy;
      border-bottom: 8px solid $colour-flame;
    }
  }
}

.c-site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 24px 0;
}
