@import "css/_settings.scss";
@import "css/settings/breakpoints";
@import "css/settings/zIndex";
@import "css/tools/scrollbar.scss";
@import "css/tools/defaultScrollBar";
@import "css/tools/fontSize.scss";

.c-layout {
  position: absolute;
  width: 100%;
  max-width: 740px;
  top: 164px;
  left: 60px;
  bottom: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  animation: FadeIn 0.3s ease-in;
  box-shadow: 0px 0px 113.425px #000000;
  border-radius: 16px;
  z-index: $z-index-menu;

  &--closing {
    opacity: 0;
    animation: FadeOut 0.3s ease-in;
  }

  &__header {
    background-color: $colour-night;
    backdrop-filter: blur(10.8731px);
    padding: 24px;
    border-radius: 16px 16px 0 0;
  }

  &__header-icon {
    height: 32px;
    width: 32px;
    padding: 5px;
    border-radius: 50%;
    background-color: $colour-galaxy;
    margin-right: 12px;
    box-shadow: 0px 2px 10px rgba(26, 26, 25, 0.24);
  }

  &__header-content {
    display: flex;
    align-items: center;
  }

  &__header-text {
    @include font-size(20px, 30px);
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Barlow";
    color: white;
    margin: 0px;
    flex-grow: 1;
    letter-spacing: 0.2px;

    @media screen and (max-width: $global-breakpoint-md) {
      font-family: "Barlow Condensed";
    }
  }

  &__back-button {
    margin-right: 12px;

    svg {
      min-width: 18px;
      min-height: 18px;
    }
  }

  &__close-button {
    svg {
      min-width: 14px;
      min-height: 14px;
    }
  }

  &__back-button,
  &__close-button {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $colour-flame;
    }
  }

  &__content {
    flex-grow: 1;
    border-radius: 0 0 16px 16px;
    display: flex;
    flex-direction: column;
    background: $colour-space;
    overflow-y: hidden;
    z-index: -1;
  }

  &__info-title {
    font-family: "Barlow";
    font-style: normal;
    font-weight: 500;
    @include font-size(18px, 27px);
    margin-bottom: 12px;
    color: white;
  }

  @media screen and (max-width: 1700px) {
    max-width: 558px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    &__tab-description {
      display: block;
    }
  }

  @media screen and (max-width: $global-breakpoint-md) {
    top: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: unset;
    border-radius: 16px 16px 0 0;
    animation: none;

    &__header {
      border-radius: 16px 16px 0 0;
      padding: 24px;
    }

    &__header-text {
      @include font-size(20px, 30px);
    }

    &__content {
      border-radius: 0;
    }
  }

  @media screen and (min-width: $global-breakpoint-md) and (max-height: 760px) {
    top: 100px;
    height: unset;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
