@import "css/settings";
@import "css/settings/breakpoints";

.c-home-actions {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  background: rgba($colour-galaxy, 0.4);
  backdrop-filter: blur(10.8731px);
  position: absolute;
  bottom: 0;

  @media screen and (max-width: $global-breakpoint-md) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}
