@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-custom-styled-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    color: $white;
    @include font-size(14px, 21px);
    font-weight: 500;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    &__label {
      @include font-size(18px, 27px);
    }
  }
}
