@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

.c-custom-styled-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__wrap {
    display: flex;
  }

  &__label {
    color: $white;
    @include font-size(16px, 24px);
    font-weight: 500;
  }
}
