@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize";

$c-news-article-transition: 0.3s ease-in-out;

.c-news-article {
  display: flex;
  flex-direction: column;
  position: relative;
  backdrop-filter: blur(2px);
  border-radius: 16px;
  overflow: hidden;
  transition: background-color $c-news-article-transition;

  @media screen and (min-width: $global-breakpoint-md) {
    height: 100%;
  }

  &.featured {
    .top {
      gap: 12px;

      .image {
        height: 160px;

        @media screen and (min-width: $global-breakpoint-md) {
          min-height: 275px;
          height: 100%;
        }
      }

      .title {
        @include font-size(18px, 27px);

        @media screen and (min-width: $global-breakpoint-md) {
          @include font-size(32px, 48px);
        }
      }
    }
  }

  &:not(.featured) {
    .top {
      grid-template-columns: 80px 1fr;
      gap: 16px;

      .image {
        height: 80px;
      }

      .title {
        @include font-size(16px, 24px);
      }
    }
  }

  .backdrop {
    opacity: 0.2;
    z-index: -1;
  }

  .top {
    display: grid;
    padding: 20px;

    @media screen and (min-width: $global-breakpoint-md) {
      height: 100%;
    }

    .image {
      position: relative;
      border-radius: 12px;
      overflow: hidden;
    }

    .title {
      font-weight: 500;
    }
  }

  .title,
  .date {
    display: block;
    color: $white;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    background-color: rgba($colour-galaxy, 0.5);

    .date {
      @include font-size(14px, 18px);
      font-weight: 600;
    }
  }
}

.c-page-section-grid-news-articles-featured {
  display: flex;
  flex-wrap: wrap;
  margin: -16px -8px 0;

  &__column {
    flex: 0 0 100%;
    padding: 16px 8px 0;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    margin: 25px -12.5px 0;

    &__column {
      padding: 25px 12.5px 0;
    }
  }

  @media screen and (min-width: $global-breakpoint-lg) {
    margin: 0 -15px;

    &__column:first-child {
      flex-grow: 1;
      max-width: 100%;
    }

    &__column {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 15px;
    }
  }

  @media screen and (min-width: $global-breakpoint-xl) {
    margin: 0 -20px;

    &__column:first-child {
      flex: 1 0 66.66%;
      width: 100%;
      max-width: 100%;
      padding: 0 20px;
    }

    &__column:nth-child(2) {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 20px;
    }
  }
}

.c-page-section-grid-news-articles {
  display: grid;
  gap: 16px;

  &__load-more {
    display: flex;
    justify-content: center;
    grid-column: 1/-1;
    padding-top: 8px;
  }

  @media screen and (min-width: $global-breakpoint-md) {
    grid-template-columns: 1fr 1fr;
    gap: 25px;

    &__load-more {
      justify-content: flex-end;
      padding-top: 0;
    }
  }

  @media screen and (min-width: $global-breakpoint-lg) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  @media screen and (min-width: $global-breakpoint-xl) {
    gap: 40px;
  }
}
