@import 'css/settings';

.c-aside {
    padding: $space * 2 0;
  
    nav {
      > ul {
        list-style: none;
        margin: 0;
        padding: 0;
  
        > li {
          margin: $space * 2 0 0;
          cursor: pointer;
  
          &:first-child { margin: 0 }
  
          a {
            position: relative;
            font-size: $font-size-medium;
            color: $charcoal-grey;
            text-decoration: none;
  
            svg {
              position: absolute;
              top: 50%;
              right: 100%;
              transform: translate(-4px, -50%);
              fill: $freshwater-color;
            }
  
            &:hover {
              color: $freshwater-color;
            }
  
            &.-active {
              color: $freshwater-color;
            }
          }
        }
      }
    }
  }
  