@import 'css/settings';

.c-topic-news {
    .news-item {
        display: flex;
        margin-top: 5 * $space;

        .news-picture {
            height: 100px;
            width: 100%;
            max-width: 160px;
        }

        .news-content {
            padding: 4 * $space;

            h5 {
                margin: 0px;

                a {
                    font-size: 18px;
                    color: $grey-dark;
                    text-decoration: none;
                }
            }

            .news-date {
                color: $grey-darker;
                font-size: 12px;
            }
        }
    }
}