@import "css/settings";
@import "css/tools/_visuallyHidden";
@import "css/tools/_fontSize";
@import "css/settings/breakpoints";

.c-toggle-list {
  border: 0px;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  &__item {
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 48px;
    font-family: "Barlow";
    font-weight: 500;
    @include font-size(14px, 18px);
    padding: 6px 10px;
    cursor: pointer;
    max-height: 33px;
    &:focus,
    &:hover,
    &:active,
    &:focus-within {
      border: 2px solid $colour-flame;
      color: white;
      background: transparent;
    }

    &--selected {
      color: $colour-space;
      background: white;
      &:focus,
      &:hover,
      &:active,
      &:focus-within {
        color: $colour-space;
        background: white;
      }
    }
  }
  input,
  legend {
    @include visually-hidden();
  }
  @media screen and (max-width: $global-breakpoint-md) {
    &__item {
      @include font-size(12px, 13px);
      padding: 8px 10px;
    }
  }
}

.c-info-label {
  background-color: rgba($colour-night, 0.4);
  border-radius: 48px;
  padding: 6px 6.5px 6px 12px;
  display: inline-flex;
  align-items: center;

  font-family: "Barlow";
  font-weight: 500;
  @include font-size(14px, 21px);

  &__button {
    background: transparent;
    margin-left: 8px;
    border: 0px;
    padding: 0px;
    width: 20px;
    height: 20px;
    background-image: url("/static/icons/home-menu/info.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  @media screen and (max-width: $global-breakpoint-md) {
    @include font-size(12px, 14px);
    margin-top: 2px;

    &___button {
      width: 16px;
      height: 16px;
      margin-left: 6px;
    }
  }
}
