@import 'css/settings';

.homepage {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .main-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 2;

        iframe {
            width: 100%;
            height: 100%;
        }

        .globe {
            position: absolute;
            top: 10%;
            left: 0px;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: -1;

            &.-loaded {
                animation: fade-in 1s forwards;

                @keyframes fade-in {
                    from { opacity: 0;}
                    to { opacity: 1;}
                }
            }
        }

        .text-container {
            position: absolute;
            padding: 8px 0px;
            background: radial-gradient(44.33% 3115.06% at 50% 50%, #19232C 22.4%, rgba(0, 0, 0, 0) 100%);

            &.-desktop {
                top: 104px;
            }

            .banner {
                display: flex;
                flex-direction: column;
                align-items: center;

                h1 {
                    color: $white;
                    font-size: 24px;
                }

                .gradient {
                    font-style: italic;
                    background: linear-gradient(270.9deg, $dark-red 1.68%, rgba(147, 18, 18, 0) 99.22%);
                }
            }
        }
    }

    .particles {
        position: absolute;
        height: 100%;
        width: 100%;
    }
}
