@import 'css/settings';

.homepage {
    overflow: initial;

    .header-section {
        padding: 40px;
    }
    .story-section {
        overflow: initial;
        padding: 40px;

        .description {
            margin-bottom: 40px;
        }

        .story {
            .main-map {
                position: sticky;
                top: 100px;
                border: 1px solid orchid;
                margin-left: 50%;
            }
    
            .step-panel {
                background-color: white;
                height: 600px;
                margin-right: 50%;
                padding: 20px;
            }
        }
    }
}
