@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";
@import "css/settings/breakpoints";
@import "css/tools/defaultScrollBar";

.c-event {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__hero {
    backdrop-filter: blur(10.8731px);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    width: 100%;

    &--background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
      z-index: -1;
      background-position: center;
      background-size: cover;
    }

    &--detail {
      padding: 24px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &--title {
      color: white;
      font-family: "Barlow";
      font-weight: 600;
      @include font-size(18px, 27px);
      margin-bottom: 4px;
      color: white;
      margin-bottom: 8px;
    }

    &--subtitle {
      color: white;
      font-family: "Barlow";
      font-weight: 600;
      @include font-size(14px, 18px);
      color: white;
      margin-bottom: 14px;
    }

    &--thumbnail {
      border-radius: 16px;
      position: relative;
      display: block;
      height: 182px;
      overflow: hidden;
      margin-bottom: 12px;
    }

    &--description {
      color: white;
      font-family: "Barlow";
      font-weight: 500;
      @include font-size(16px, 24px);
      color: white;
    }
  }

  &__scroll-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 12px;
    overflow-y: auto;
    padding: 0 12px 24px 24px;
    row-gap: 16px;

    p {
      font-weight: 500;
      @include font-size(16px, 24px);
    }

    @include defaultScrollBar();
    &::-webkit-scrollbar-track {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @media screen and (max-width: $global-breakpoint-md) {
      &::-webkit-scrollbar {
        width: 0px;
        background: transparent; /* make scrollbar transparent */
      }
    }
  }

  &__view-all-button--container {
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
    margin-top: 8px;
  }
}
