@import "css/_settings.scss";
@import "css/tools/_fontSize.scss";
@import "css/settings/breakpoints";
@import "css/tools/defaultScrollBar";

.c-event {
  &__container {
    @include defaultScrollBar();

    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    overflow-y: auto;
  }

  &__widget {
    background-color: white;
    color: black;
    min-height: 500px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;

    .leaflet-container {
      border-radius: 12px;
    }
  }

  &__hero {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: left;
    width: 100%;

    &--background {
      filter: blur(2px);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.3;
      z-index: -1;
      background-position: center;
      background-size: cover;
    }

    &--detail {
      padding: 24px;
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &--title {
      @include font-size(18px, 27px);

      color: white;
      font-family: "Barlow";
      font-weight: 600;
      margin-bottom: 4px;
      color: white;
      margin-bottom: 8px;
    }

    &--subtitle {
      @include font-size(14px, 18px);

      color: white;
      font-family: "Barlow";
      font-weight: 600;
      color: white;
      margin-bottom: 14px;
    }

    &--thumbnail {
      border-radius: 16px;
      position: relative;
      display: block;
      height: 182px;
      overflow: hidden;
      margin-bottom: 12px;
    }

    &--description {
      @include font-size(16px, 24px);

      color: white;
      font-family: "Barlow";
      font-weight: 500;
      color: white;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 24px;
    row-gap: 16px;

    .section-image {
      height: 296px;
      width: 100%;
      border-radius: 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      @media screen and (max-width: $global-breakpoint-md) {
        height: 160px;
      }
    }

    p {
      @include font-size(16px, 24px);

      font-weight: 500;
      margin-bottom: 0;
      margin-bottom: 0;
    }
  }

  &__view-all-button--container {
    display: flex;
    justify-content: center;
    margin-bottom: 88px;
    margin-top: 8px;
  }
}
