@import "css/settings";
@import "css/settings/breakpoints";
@import "css/tools/fontSize.scss";

.c-scale {
  height: 100%;
  display: flex;
  flex-direction: column;
  background: rgba($colour-galaxy, 0.4);
  backdrop-filter: blur(1.5px);
  padding: 12px 12px;
  border-radius: 16px;
  transition: opacity 0.3s ease-in;

  label {
    @include font-size(20px, 30px);
    font-family: "Barlow Condensed";
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-align: center;
  }

  input {
    transform: rotate(180deg);
    width: 67px;
    flex: 1;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    &::before,
    &::after {
      position: absolute;
      display: block;
      color: white;
      left: 50%;
      @include font-size(20px, 20px);
      min-height: 45px;
      font-family: "Barlow Condensed";
      font-weight: 500;
      transform: rotate(180deg) translateX(50%);
      text-align: center;
    }

    &::before {
      top: -53px;
      content: var(--min);
    }
    &::after {
      content: var(--max);
      bottom: -53px;
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background: var(--gradient);
      border-radius: 20px;
      width: 18px;
    }

    &::-moz-range-track {
      -webkit-appearance: none;
      background: var(--gradient);
      border-radius: 20px;
      width: 18px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      display: none;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      display: none;
    }
  }

  &__input-container {
    // width: 67px;
    // flex: 1;
    // writing-mode: bt-lr; /* IE */
    // -webkit-appearance: slider-vertical; /* WebKit */
    position: relative;
    margin: 55px 0px 60px 0px;
    height: 100%;
    display: flex;
    // transform: rotate(180deg);
  }

  &__tooltip {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &--horizontal {
    display: flex;
    flex-direction: row;
    height: 12px;
    padding: 8px 16px 8px 8px;
    label {
      @include font-size(16px, 19px);
      margin-right: 8px;
    }
    input {
      margin: 0px;
      margin-bottom: 19px;
      width: 100%;
      writing-mode: initial;
      -webkit-appearance: slider-horizontal; /* WebKit */
      transform: rotate(0deg);

      &::before,
      &::after {
        transform: rotate(0deg);
        top: unset;
        bottom: -19px;
        @include font-size(16px, 19px);
        min-height: unset;
      }

      &::before {
        left: 0px;
        content: var(--min);
      }
      &::after {
        content: var(--max);
        left: unset;
        right: 0;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 12px;
      }

      &::-moz-range-track {
        width: 100%;
        height: 12px;
      }
    }
  }
}
