@import "css/settings";
@import "css/tools/fontSize";

.c-input {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
  background: $colour-midnight;
  border-radius: 48px;
  overflow: hidden;

  .icon {
    flex-shrink: 0;
    color: $white;
    margin-right: 12px;
  }

  .text-entry {
    @include font-size(16px, 24px);

    font-weight: 500;
    background: transparent;
    outline: none;
    border: none;
    color: $white;
    width: 100%;
    caret-color: $colour-flame;

    &::placeholder {
      color: white;
    }
  }

  button {
    svg {
      min-width: 9px;
      min-height: 9px;
    }
  }
}
