@import "css/settings";
@import "css/tools/fontSize";

.c-input {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 16px;
  width: 100%;
  background: $colour-midnight;
  border-radius: 48px;
  overflow: hidden;

  .icon {
    color: $white;
    margin-right: 12px;
  }

  .text-entry {
    @include font-size(16px, 24px);

    font-weight: 500;
    background: transparent;
    outline: none;
    border: none;
    color: $white;
    width: 100%;
  }
}
