@import 'css/settings';

.c-change-agents-section {
    height: 100%;
    width: 100%;

    .main-container {
        padding: 110px;

        &.-mobile {
            padding: 64px 16px 64px 16px;
        }
    
        h2, h3 {
            color: $white;
            font-style: italic;
    
            span {
                font-style: normal;
                color: $black;
            }
        }
        
        .subtitle {
            color: $white;
        }
    }
}
