@import "css/settings";

.c-skeleton-external-link {
  display: flex;
  align-items: center;
  padding: 6px;
  background-color: $colour-galaxy;
  border-radius: 32px;
  width: 122px;

  &.dark {
    background-color: $colour-midnight;

    .icon,
    .text {
      background-color: $colour-galaxy;
    }
  }

  .icon,
  .text {
    background-color: $colour-midnight;
  }

  .icon {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .text {
    width: 72px;
    height: 10px;
    border-radius: 12px;
  }
}
