@import 'css/settings';

.c-mongabay-news {
    display: flex;
    
    .image-container {
        height: 100px;
        width: 100%;
        max-width: 160px;
    }

    .text-container {
        padding: 4 * $space;

        h5 {
            margin: 0px;

            a {
                font-size: 18px;
                color: $grey-dark;
                text-decoration: none;
            }
        }

        p {
            font-size: 14px;
        }

        .news-date {
            color: $grey-darker;
            font-size: 12px;
        }
    }
}