@import "css/settings";
@import "css/tools/fontSize";

.c-header-link {
  > .text {
    @include font-size(20px, 30px);

    font-family: "Barlow";
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: $white;
    opacity: 0.8;
  }

  > .underline {
    width: 100%;
    height: 3px;
    transform: translateY(5px);
  }

  &__active {
    > .text {
      opacity: 1;
    }
    > .underline {
      background-color: $colour-flame;
    }
  }

  &:hover > .underline {
    background-color: $white;
  }
}
