@import "css/settings/zIndex";
@import "css/settings/breakpoints";

.info-container {
  height: 100%;
  z-index: $z-index-menu;
  position: relative;

  &__skeleton-wrapper {
    width: 100%;
    padding: 20px 24px 22px 24px;

    @media screen and (min-width: $global-breakpoint-md) {
      padding: 16px 24px;
    }
  }

  &__carousel {
    padding: 20px 24px 24px 24px;

    @media screen and (min-width: $global-breakpoint-md) {
      padding: 16px 24px 0 24px;
    }
  }
}
