@import "css/settings";
@import "css/settings/animations";

.c-skeleton-icon-button {
  @include animate-pulse();

  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: $colour-galaxy;
  transition: all 0.1s ease-in-out;

  &--dark {
    background-color: $colour-midnight;
  }

  &--xs {
    height: 24px;
    width: 24px;
  }

  &--sm {
    height: 32px;
    width: 32px;
  }

  &--md {
    height: 36px;
    width: 36px;
  }
}
